---
import BaseLayout from "../../layouts/BaseLayout.astro";

import '../../styles/subpages.css'
import '../../styles/about.css'

import ContactSection from "../../components/ContactSection.astro"
import "../../styles/button-ctnr.css";

import {TEL, TEL_HREF} from '../../consts';


import { SITE_DESCRIPTION, SITE_KEYWORDS, ABOUT_TITLE, ABOUT_DESCRIPTION, ABOUT_KEYWORDS, ABOUT_H1, ABOUT_H2, ABOUT_TEXT_BODY } from "../../consts";

---

<BaseLayout title={ABOUT_TITLE} description={ABOUT_DESCRIPTION ? ABOUT_DESCRIPTION : SITE_DESCRIPTION} keywords={ABOUT_KEYWORDS ? ABOUT_KEYWORDS : SITE_KEYWORDS}>
    <main>
        <section class="panel scroll_margin_top">
            <div class="ctnr">
                <div class="content reveal">
                    <h1 set:html={ABOUT_H1}></h1>

                    <h2 set:html={ABOUT_H2}></h2>

                    <div class="body" set:html={ABOUT_TEXT_BODY}></div>

                    <div class="bt_ctnr flex">
                        <div class="ctas flex">
                            <a href="#contact" class="cta">Get a Quote</a>

                            <a href="/jobs/" class="job_cta">Work with us</a>
                        </div>
                    
                        <div class="flex column">
                            <a href=`tel:${TEL_HREF}`><span>London:</span> {TEL}</a>

                            <a href="/privacy-policy/"><span>Privacy Policy</span></a>
                    
                            <!-- <a href="tel:+44-0121-3927529"><span>Birmingham:</span> 0121 3927529</a> -->
                        </div>
                    </div>

                    <ul class="bullets">
                        <li>
                            <span class="icon floor"></span>
                            Specialist Floor & Carpet Cleaning Service
                        </li>

                        <li>
                            <span class="icon cleaning"></span>
                            Cleaning Service
                        </li>

                        <li>
                            <span class="icon pest"></span>
                            Pest Control
                        </li>

                        <li>
                            <span class="icon hygiene"></span>
                            Hygiene Services
                        </li>

                        <li>
                            <span class="icon waste"></span>
                            Waste Management
                        </li>
                    </ul>
                </div>

                <div class="image reveal">
                    <!-- <picture>
                        <source srcset="/images/office01.webp">
                        <img src="/images/office01.jpg" alt="The Clean Network logo">
                    </picture> -->
                </div>
            </div>
        </section>

        <ContactSection />
    </main>
</BaseLayout>