---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactSection from "../../components/ContactSection.astro"

import FormattedDate from '../../components/FormattedDate.astro';
import BackBt from "../../components/BackBt.astro";

export async function getStaticPaths() {
    const blog = await getCollection("blog");
    return blog.map((blog) => ({
        params: { slug: blog.slug },
        props: blog,
    }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

import "../../styles/content.css"
import "../../styles/blog.css"
import "../../styles/posts.css"
import "../../styles/blog-post.css"

import { Schema } from "astro-seo-schema"
import EndingBlogNav from "../../components/EndingBlogNav.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

import { FULL_ADDRESS, SITE_TITLE } from '../../consts'

// let postCategory = post.data.category;
// let postTitle = post.data.title;

// let filteredPosts = posts.filter(p => p.data.category === postCategory && p.data.title !== post.data.title);

// let firstRandomPos = 0
// let secondRandomPos = 0
// let thirdRandomPos = 0

// while (filteredPosts[firstRandomPos].data.title == postTitle || filteredPosts[secondRandomPos].data.title == postTitle || filteredPosts[thirdRandomPos].data.title == postTitle || (firstRandomPos == secondRandomPos || thirdRandomPos == secondRandomPos || thirdRandomPos == firstRandomPos)) {
//     firstRandomPos = Math.floor(Math.random() * filteredPosts.length)
//     secondRandomPos = Math.floor(Math.random() * filteredPosts.length)
//     thirdRandomPos = Math.floor(Math.random() * filteredPosts.length)
// }

---

<BaseLayout title={post.data.documentTitle ? post.data.documentTitle : post.data.title}>
    <section class="intro">
        <!-- <BackBt url={`/blog/${post.data.category}#${(post.data.title).toLowerCase().replace(/\s+/g, '-')}`} label="Return to category"/> -->
        <BackBt url="/blog/" label="Return to blog"/>

        <div class="cover">
			<img src={post.data.heroImage} alt={post.data.description} loading="lazy" draggable="false" class="reveal_delay"/>
		</div>

        <!-- <img src={post.data.image} alt={`Photo of ${post.data.title} cleaning service`}> -->

        <!-- <hr> -->
    
    </section>

    <div class="content_ctnr">
        <article class="reveal">
            <div class="over_heading">
                <div class="author">
                    {post.data.authorImage ? (
                        <img src={post.data.authorImage}
                        alt={`${post.data.author} image`}
                        title={`Text by ${post.data.author}`}
                        draggable="false"/>
                        ) : "by"} <cite>{post.data.author}</cite>
                </div>
    
                <hr/>

				<FormattedDate date={post.data.pubDate} />

				<hr>
    
                <a href={`/blog/${post.data.category}`} class="category_indicator" aria-label="Check same category posts" title="see category">{post.data.category == 'cleaning' ? 'Cleaning' : post.data.category == 'health-and-environment' ? 'Health & Environment' : post.data.category == 'efficiency' ? "Efficiency" : null}</a>
            </div>
    
            <h1>{post.data.title}</h1>
    
            {post.data.tags ? (
                <ul class="tags">
                    {post.data.tags.map(item => (
                        <li>
                            {item == "Bathroom" ? (
                                <a href={`/services/bathrooms`} class="reveal_tag">{item}</a>
                            ) : (
                                <p class="reveal_tag">{item}</p>
                            )}
                        </li>
                    ))}
                </ul>
            ) : null}

            <div class="post_content">
                {post.data.standFirst ? (
                    <p class="standfirst">{post.data.standFirst}</p>

                    <hr/>
                ) : null}

                <Content />
            </div>
        </article>

        <!-- <hr>
    
        <aside class="recommendations reveal">
            <span class="tangent_content_heading">You might also like</span>

            <ul class="posts">
                <li id={(filteredPosts[firstRandomPos].data.title).toLowerCase().replace(/\s+/g, '-')} class="scroll_margin_top reveal_delay2">
                    <div class="ctnr">
                        <div class="content">
                            <div class="ctnr">
                                    <div class="over_heading">
                                        <FormattedDate date={filteredPosts[firstRandomPos].data.pubDate} />

                                        <hr/>

                                        <p class="category_indicator">{filteredPosts[firstRandomPos].data.category == 'cleaning' ? 'Cleaning' : filteredPosts[firstRandomPos].data.category == 'health-and-environment' ? 'Health & Environment' : filteredPosts[firstRandomPos].data.category == 'efficiency' ? "Efficiency" : null}</p>
                                    </div>

                                <a href={`/blog/${filteredPosts[firstRandomPos].slug}/`}>
                                    <p class="title">{filteredPosts[firstRandomPos].data.title}</p>
                                </a>
	
                                {filteredPosts[firstRandomPos].data.description ? (
                                    <p class="description">{filteredPosts[firstRandomPos].data.description}</p>
                                ) : null}

                                <a href={`/blog/${filteredPosts[firstRandomPos].slug}/`} class="read_more">Read more</a>
                            </div>
                        </div>

                        <a class="hero" href={`/blog/${filteredPosts[firstRandomPos].slug}/`}>
                            <img src={filteredPosts[firstRandomPos].data.heroImage} alt={filteredPosts[firstRandomPos].data.description} loading="lazy" draggable="false"/>
                        </a>
                    </div>
                </li>

                <li id={(filteredPosts[secondRandomPos].data.title).toLowerCase().replace(/\s+/g, '-')} class="scroll_margin_top reveal_delay2">
                    <div class="ctnr">
                        <div class="content">
                            <div class="ctnr">
                                    <div class="over_heading">
                                        <FormattedDate date={filteredPosts[secondRandomPos].data.pubDate} />

                                        <hr/>

                                        <p class="category_indicator">{filteredPosts[secondRandomPos].data.category == 'cleaning' ? 'Cleaning' : filteredPosts[secondRandomPos].data.category == 'health-and-environment' ? 'Health & Environment' : filteredPosts[secondRandomPos].data.category == 'efficiency' ? "Efficiency" : null}</p>
                                    </div>

                                <a href={`/blog/${filteredPosts[secondRandomPos].slug}/`}>
                                    <p class="title">{filteredPosts[secondRandomPos].data.title}</p>
                                </a>
	
                                {filteredPosts[secondRandomPos].data.description ? (
                                    <p class="description">{filteredPosts[secondRandomPos].data.description}</p>
                                ) : null}

                                <a href={`/blog/${filteredPosts[secondRandomPos].slug}/`} class="read_more">Read more</a>
                            </div>
                        </div>

                        <a class="hero" href={`/blog/${filteredPosts[secondRandomPos].slug}/`}>
                            <img src={filteredPosts[secondRandomPos].data.heroImage} alt={filteredPosts[secondRandomPos].data.description} loading="lazy" draggable="false"/>
                        </a>
                    </div>
                </li>

                <li id={(filteredPosts[thirdRandomPos].data.title).toLowerCase().replace(/\s+/g, '-')} class="scroll_margin_top reveal_delay2">
                    <div class="ctnr">
                        <div class="content">
                            <div class="ctnr">
                                    <div class="over_heading">
                                        <FormattedDate date={filteredPosts[thirdRandomPos].data.pubDate} />

                                        <hr/>

                                        <p class="category_indicator">{filteredPosts[thirdRandomPos].data.category == 'cleaning' ? 'Cleaning' : filteredPosts[thirdRandomPos].data.category == 'health-and-environment' ? 'Health & Environment' : filteredPosts[thirdRandomPos].data.category == 'efficiency' ? "Efficiency" : null}</p>
                                    </div>

                                <a href={`/blog/${filteredPosts[thirdRandomPos].slug}/`}>
                                    <p class="title">{filteredPosts[thirdRandomPos].data.title}</p>
                                </a>
	
                                {filteredPosts[thirdRandomPos].data.description ? (
                                    <p class="description">{filteredPosts[thirdRandomPos].data.description}</p>
                                ) : null}

                                <a href={`/blog/${filteredPosts[thirdRandomPos].slug}/`} class="read_more">Read more</a>
                            </div>
                        </div>

                        <a class="hero" href={`/blog/${filteredPosts[thirdRandomPos].slug}/`}>
                            <img src={filteredPosts[thirdRandomPos].data.heroImage} alt={filteredPosts[thirdRandomPos].data.description} loading="lazy" draggable="false"/>
                        </a>
                    </div>
                </li>
            </ul>
        </aside> -->

        <div class="cta_ctnr">
            <a href="/contact/" class="main cta" aria-label="Get a free quote for our cleaning services">Get a free quote</a>
        </div>
    </div>

    <!-- <EndingBlogNav category={post.data.category}/> -->

    <Schema
        item={{
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            headline: `${post.data.title}`,
            image: `${post.data.heroImage}`,
            "author": [{
                "@type": "Person",
                "name": `${post.data.author}`
            }],
            "publisher": {
                "@type": "Organization",
                "name": "Clean Network",
                "logo": {
                    "@type": "ImageObject",
                    "url": "/logo/tcn-logo-360.png"
                },
                "address": `${FULL_ADDRESS}`
            }
        }}
    />
</BaseLayout>