---
import { type CollectionEntry, getCollection } from "astro:content";
import SubpageLayout from "../../layouts/BaseLayout.astro";
import ContactSection from "../../components/ContactSection.astro"

import FormattedDate from '../../components/FormattedDate.astro';
import BackBt from "../../components/BackBt.astro";

export async function getStaticPaths() {
    const blog = await getCollection("blog");
    return blog.map((blog) => ({
        params: { slug: blog.slug },
        props: blog,
    }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

import "../../styles/blog.css"
import "../../styles/posts.css"
import "../../styles/blog-post.css"

import { Schema } from "astro-seo-schema"

const posts = (await getCollection('blog')).sort(
	(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);


let firstRandomPos = Math.floor(Math.random() * posts.length)
let secondRandomPos = Math.floor(Math.random() * posts.length)


while (posts[firstRandomPos].data.title == post.data.title) {
    firstRandomPos = Math.floor(Math.random() * posts.length)
}

while (posts[secondRandomPos].data.title == post.data.title) {
    secondRandomPos = Math.floor(Math.random() * posts.length)
}

while(firstRandomPos == secondRandomPos) {
    secondRandomPos = Math.floor(Math.random() * posts.length)
}

---

<SubpageLayout {...post.data}>
    <section class="intro">
        <BackBt url={`/blog/${post.data.category}#${(post.data.title).toLowerCase().replace(/\s+/g, '-')}`} label="Return to Category"/>

        <div class="cover">
			<img src={post.data.heroImage} alt={post.data.description} loading="lazy" class="reveal"/>
		</div>

        <!-- <img src={post.data.image} alt={`Photo of ${post.data.title} cleaning service`}> -->

        <!-- <hr> -->
    
    </section>

    <div class="content_ctnr">
        <article class="reveal">
            <div class="over_heading">
                <div class="author">by <cite>{post.data.author}</cite></div>
    
                <hr/>
    
                <a href={`/blog/${post.data.category}`} class="category_indicator" aria-label="Check same category posts" title="Check category">{post.data.category == 'cleaning' ? 'Cleaning' : post.data.category == 'health-and-environment' ? 'Health & Environment' : post.data.category == 'efficiency' ? "Efficiency" : null}</a>

                <hr>

                <FormattedDate date={post.data.pubDate} />
            </div>
    
            <h1>{post.data.title}</h1>
    
            <Content />
        </article>

        <hr>
    
        <aside class="recommendations reveal">
            <span class="heading">Read more</span>

            <ul class="posts">
                <li id={(posts[firstRandomPos].data.title).toLowerCase().replace(/\s+/g, '-')} class="scroll_margin_top">
                    <div class="ctnr">
                        <div class="content">
                            <div class="ctnr">
                                    <div class="over_heading">
                                        <FormattedDate date={posts[firstRandomPos].data.pubDate} />

                                        <hr/>

                                        <p class="category_indicator">{posts[firstRandomPos].data.category == 'cleaning' ? 'Cleaning' : posts[firstRandomPos].data.category == 'health-and-environment' ? 'Health & Environment' : posts[firstRandomPos].data.category == 'efficiency' ? "Efficiency" : null}</p>
                                    </div>

                                <a href={`/blog/${posts[firstRandomPos].slug}/`}>
                                    <p class="title">{posts[firstRandomPos].data.title}</p>
                                </a>

                                <a href={`/blog/${posts[firstRandomPos].slug}/`} class="read_more">Read more</a>
                            </div>
                        </div>

                        <a class="hero" href={`/blog/${posts[firstRandomPos].slug}/`}>
                            <img src={posts[firstRandomPos].data.heroImage} alt={posts[firstRandomPos].data.description} loading="lazy"/>
                        </a>
                    </div>
                </li>

                <li id={(posts[secondRandomPos].data.title).toLowerCase().replace(/\s+/g, '-')} class="scroll_margin_top">
                    <div class="ctnr">
                        <div class="content">
                            <div class="ctnr">
                                    <div class="over_heading">
                                        <FormattedDate date={posts[secondRandomPos].data.pubDate} />

                                        <hr/>

                                        <p class="category_indicator">{posts[secondRandomPos].data.category == 'cleaning' ? 'Cleaning' : posts[secondRandomPos].data.category == 'health-and-environment' ? 'Health & Environment' : posts[secondRandomPos].data.category == 'efficiency' ? "Efficiency" : null}</p>
                                    </div>

                                <a href={`/blog/${posts[secondRandomPos].slug}/`}>
                                    <p class="title">{posts[secondRandomPos].data.title}</p>
                                </a>

                                <a href={`/blog/${posts[secondRandomPos].slug}/`} class="read_more">Read more</a>
                            </div>
                        </div>

                        <a class="hero" href={`/blog/${posts[secondRandomPos].slug}/`}>
                            <img src={posts[secondRandomPos].data.heroImage} alt={posts[secondRandomPos].data.description} loading="lazy"/>
                        </a>
                    </div>
                </li>
            </ul>
        </aside>

        <div class="cta_ctnr">
            <a href="/contact/" class="main cta" aria-label="Get a free quote for our cleaning services">Get a free quote</a>
        </div>
    </div>

    <ContactSection />

    <Schema
        item={{
            "@context": "https://schema.org",
            "@type": "Article",
            headline: `${post.data.title}`,
            image: `${post.data.heroImage}`,
            "author": [{
                "@type": "Person",
                "name": `${post.data.author}`
            }],
            "publisher": {
                "@type": "Organization",
                "name": "The Clean Network",
                "logo": {
                    "@type": "ImageObject",
                    "url": "/logo/tcn-logo-360.png"
                }
            }
        }}
    />
</SubpageLayout>