---
import { type CollectionEntry, getCollection } from "astro:content";
import SubpageLayout from "../../layouts/BaseLayout.astro";
import ContactSection from "../../components/ContactSection.astro"

import BackBt from "../../components/BackBt.astro";

export async function getStaticPaths() {
    const services = await getCollection("services");
    return services.map((services) => ({
        params: { slug: services.slug },
        props: services,
    }));
}
type Props = CollectionEntry<"services">;

const services = Astro.props;
const { Content } = await services.render();

import "../../styles/subpages.css"
import "../../styles/posts.css"

import { Schema } from "astro-seo-schema"
---

<SubpageLayout {...services.data}>
    <section class="intro">
        <BackBt url={`/services/#${(services.data.title).toLowerCase().replace(/\s+/g, '-')}`} label="Other services"/>

        <div class="cover">
			<img src={services.data.image} alt={services.data.description} class="reveal" loading="lazy"/>
        </div>

        <!-- <img src={services.data.image} alt={`Photo of ${services.data.title} cleaning service`}> -->

        <!-- <hr> -->
    
    </section>

    <div class="content_ctnr">
        <article class="reveal">
            <h1>{services.data.title} {String(services.data.title).includes('Cleaning') ? "" : "Cleaning"}</h1>

            <Content />
        </article>

        <div class="cta_ctnr">
            <a href="/contact/" class="main cta" aria-label="Get a free quote for our cleaning services">Get a free quote</a>
        </div>

        <a href={`/services/#${(services.data.title).toLowerCase().replace(/\s+/g, '-')}`} class="back">Other services</a>
    </div>

    <ContactSection />

    <Schema
        item={{
            "@context": "https://schema.org",
            "@type": "Article",
            headline: `${services.data.title} ${String(services.data.title).includes('Cleaning') ? " Service" : "Cleaning Service"}`,
            image: `${services.data.image}`,
            "author": [{
                "@type": "Organization",
                "name": "The Clean Network"
            }],
            "publisher": {
                "@type": "Organization",
                "name": "The Clean Network",
                "logo": {
                    "@type": "ImageObject",
                    "url": "/logo/tcn-logo-360.png"
                }
            }
        }}
    />
</SubpageLayout>