---
import { CollectionEntry, getCollection } from "astro:content";
import SubpageLayout from "../../layouts/SubpageLayout.astro";
import ContactSection from "../../components/ContactSection.astro"

export async function getStaticPaths() {
    const services = await getCollection("services");
    return services.map((services) => ({
        params: { slug: services.slug },
        props: services,
    }));
}
type Props = CollectionEntry<"services">;

const services = Astro.props;
const { Content } = await services.render();

import "../../styles/posts.css"
---

<SubpageLayout {...services.data}>
    <section class="intro">

        <div class="cover" style={`background-image: url(${services.data.image});`}></div>

        <div class="content">
            <h1>{services.data.title} {String(services.data.title).includes('Cleaning') ? "" : "Cleaning"}</h1>
    
            <p>{services.data.description}</p>
        </div>

        <!-- <img src={services.data.image} alt={`Photo of ${services.data.title} cleaning service`}> -->

        <hr>
    
    </section>

    <article>
        <Content />

        <a href="/#contact" class="cta" aria-label="Get a free quote for our cleaning services">Get a free quote</a>

        <a href="/services/" class="back">Back to services</a>
    </article>

    <ContactSection />
</SubpageLayout>