---
import { CollectionEntry, getCollection } from "astro:content";
type Props = CollectionEntry<"services">["data"];
const services = await getCollection("services");

const { description } = Astro.props;

import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import ContactSection from "../../components/ContactSection.astro"

import "../../styles/subpages.css"
import "../../styles/collections.css"
---

<html lang="en">
    <head>
        <BaseHead title="Our Services · The Clean Network" description={description} />
    </head>

    <body>
        <Header />

        <main>
            <div class="ctnr">
                <div class="heading_ctnr default_bg">
                    <h1>Our Services</h1>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum vel rerum eligendi sunt illum harum id, qui ullam.</p>
                </div>
                
                <div class="division" id="indoor">
                    <h2>Indoor cleaning</h2>

                    <div class="flex">
                        {
                            services.map((services) => (
                                <>
                                {services.data.type === "indoor" ? (
                                <section class="panel service_box">
                                        <div class="ctnr">
                                            <div class="content">
                                                <h3>
                                                    {services.data.title}
                                                </h3>
    
                                                <p class="description">{services.data.description}</p>
    
                                                <a href={`/services/${services.slug}`} class="cta" aria-label={`Read more about ${services.data.title}`}><span></span> About <span class="lowercase">{services.data.title} {String(services.data.title).includes('Cleaning') ? "" : "Cleaning"} Service</span></a>

                                                <a href="/#contact" class="quote" aria-label="Get a free quote for our cleaning services">Get a free quote</a>
                                            </div>
                                            
                                            <div class="image">
                                                <img src={services.data.image} loading="lazy" alt={`Photo of ${services.data.title} cleaning service`}/>
                                            </div>
                                        </div>
                                    </section>
                                ): null}
                                    
                                </>
                            ))
                        }
                    </div>
                </div>

                <hr>
                
                <div class="division" id="external">
                    <h2>External cleaning</h2>

                    <div class="flex">
                        {
                            services.map((services) => (
                                <>
                                {services.data.type === "external" ? (
                                <section class="panel service_box">
                                        <div class="ctnr">
                                            <div class="content">
                                                <h3>
                                                    {services.data.title}
                                                </h3>
    
                                                <p class="description">{services.data.description}</p>
    
                                                <a href={`/services/${services.slug}`} class="cta" aria-label={`Read more about ${services.data.title}`}><span></span> About <span class="lowercase">{services.data.title} {String(services.data.title).includes('Cleaning') ? "" : "Cleaning"} Service</span></a>

                                                <a href="/#contact" class="quote" aria-label="Get a free quote for our cleaning services">Get a free quote</a>
                                            </div>
                                            
                                            <div class="image">
                                                <img src={services.data.image} loading="lazy" alt={`Photo of ${services.data.title} cleaning service`}/>
                                            </div>
                                        </div>
                                    </section>
                                ): null}
                                    
                                </>
                            ))
                        }
                    </div>
                </div>
            </div>
        </main>

        <ContactSection />

        <Footer />
    </body>
</html>