---
import BaseLayout from "../../layouts/BaseLayout.astro";

import '../../styles/forms.css'
import '../../styles/jobs.css'

import { Schema } from "astro-seo-schema"

import { JOBS_TITLE, JOBS_DESCRIPTION, JOBS_KEYWORDS, JOBS_H1, JOBS_TEXT_BODY } from "../../consts";
---


<BaseLayout title={JOBS_TITLE} description={JOBS_DESCRIPTION} keywords={JOBS_KEYWORDS}>
    <main>
        <section class="intro">
            <div class="ctnr">
                <h1 set:html={JOBS_H1}></h1>

                <div class="body" set:html={JOBS_TEXT_BODY}></div>
            </div>
        </section>

        <section class="contact default_bg" id="contact">
            <div class="ctnr">
                <form name="job-application" method="POST" data-netlify="true">
                    <!-- <h2 class="title">Work with us</h2> -->
        
                    <div class="flex">
                        <p>
                            <label>First name: <input type="text" name="name" required/></label>
                        </p>
        
                        <p>
                            <label>Last name: <input type="text" name="name" required/></label>
                        </p>
                    </div>
        
                    <p>
                        <label>Email: <input type="email" name="email" required/></label>
                    </p>
        
                    <p>
                        <label>Message: <textarea name="message" required></textarea></label>
                    </p>
        
                    <p>
                        <button type="submit" aria-label="Submit contact form">Apply for The Clean Network</button>
                                
                        <noscript>You need to enable JavaScript on your browser to submit emails.</noscript>
                    </p>
                    </form>
            </div>
        
            <script>
                import "../../scripts/form.js";
            </script>
        </section>
    </main>

    <Schema
        item={
            {
            "@context": "https://schema.org/",
            "@type": "JobPosting",
            "title": "Cleaner",
            "description": "As a Corporate Cleaner at The Clean Network, you will be an integral part of our professional cleaning team, responsible for maintaining the cleanliness and hygiene of corporate premises in the London area. Your meticulous attention to detail and dedication to providing exceptional cleaning services will contribute to creating a clean and comfortable environment for our valued clients. You will work in various corporate settings, including offices, business centers, and commercial buildings, adhering to high standards of cleanliness and professionalism.",
            "hiringOrganization" : {
                "@type": "Organization",
                "name": "The Clean Network",
                "sameAs": "https://cleannetwork.co.uk"
            },
            "industry": "Corporate Cleaning",
            "employmentType": "CONTRACTOR",
            "datePosted": "2023-07-24",
            "jobLocation": {
                "@type": "Place",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "6-8 Knights Court",
                    "addressLocality": "London",
                    "postalCode": "EC1M 4NH",
                    "addressCountry": "UK"
                }
            }
            }}
    />
</BaseLayout>