---
import Layout from "../layouts/BaseLayout.astro";
// import MapSwitch from "../components/MapSwitch.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactSection from "../components/ContactSection.astro"
import InfoBox from "../components/InfoBox.astro";
import BlogStripe from "../components/BlogStripe.astro";
import FAQ from "../components/FAQ.astro";
import OurPeople from "../components/OurPeople.astro";
import SocialImpact from "../components/SocialImpact.astro";
import OurPolicies from "../components/OurPolicies.astro";

import "../styles/button-ctnr.css";
import "../styles/home.css"

import { Schema } from "astro-seo-schema"

import { getCollection } from "astro:content";

// const services = await getCollection("services");
// const sectors = await getCollection("sectors");
const testimonials = await getCollection("testimonials");

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS, SITE_H1, INTRO_H2, TEXT_BLOCK, SERVICES_SECTION_DESCRIPTION, SECTORS_SECTION_DESCRIPTION, LOCATIONS_SECTION_DESCRIPTION, FULL_ADDRESS, TEL, TEL_HREF, TEL_INTERNATIONAL, STREET, POSTAL_CODE } from "../consts";

const benefits = (await getCollection('benefits')).sort((a, b) => {
    // Check if both items have an 'order' property
    if (a.data.order !== undefined && b.data.order !== undefined) {
        return a.data.order - b.data.order; // Sort by 'order' if both have it
    } else if (a.data.order !== undefined) {
        return -1; // 'a' has 'order', but 'b' doesn't, so 'a' comes first
    } else if (b.data.order !== undefined) {
        return 1; // 'b' has 'order', but 'a' doesn't, so 'b' comes first
    } else {
        // Both 'a' and 'b' don't have 'order', fallback to sorting by 'title'
        return a.data.title.localeCompare(b.data.title);
    }
});
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}  keywords={SITE_KEYWORDS}>
	<main>
		<section class="intro squares_bg">
			<div class="ctnr">
				<div class="content reveal">
					<h1 set:html={SITE_H1}></h1>

					<h2 set:html={INTRO_H2}></h2>

					<div class="bt_ctnr flex">
						<div class="ctas flex">
							<a href="/services/" class="know_our_services" aria-label="Find out more about our services">Find out more</a>
					
							<a href="/contact/" class="cta" aria-label="Get a quote">Get a Quote</a>
						</div>
					
						<div class="flex column">
							<a href={`tel:${TEL_HREF}`} aria-label={`Call London office at ${TEL_INTERNATIONAL}`}><span>London: </span>{TEL}</a>
					
							<!-- <a href="tel:+44-0121-3927529"><span>Birmingham:</span> 0121 3927529</a> -->
						</div>
					</div>
				</div>

				<div class="showcase reveal">
					<picture>
						<source media="(min-width:850px)" srcset="/images/office01.webp">
						<source srcset="/images/office01-min.webp">
						<img src="/images/office01.jpg" alt="The Clean Network logo" width="414" height="300">
					</picture>
				</div>

				<a href="#why-the-clean-network" class="scroll_bt" title="Scroll for more" aria-label="Click to scroll for more"><span></span></a>
			</div>
		</section>

		<section class="benefits scroll_margin_top" id="why-the-clean-network">
			<div class="ctnr">
				<h3>Why the Clean Network</h3>

				<p>{benefits.length} reasons to choose the <b>Clean Network</b> cleaning services:</p>

				<div class="bullets">
					{
						benefits.map((benefits) => (
							<>
								<div class="box squares_bg reveal_interval01">
									{benefits.data.icon == "" ? "" : (<img src={benefits.data.icon} class="icon" alt={`${(benefits.data.title).replace( /(<([^>]+)>)/ig, '')} icon`}/>)}
									
									<h4 set:html={benefits.data.title}class="title"></h4>
								</div>
							</>
						))
					}
				</div>
			</div>
				
			<a href="/contact/" class="main cta" aria-label="Get a free quote">Get a Free Quote</a>
		</section>

		<section class="clients">
			<div class="ctnr reveal">
				<h3>Our clients include:</h3>

				<div class="content">
					<img src="/client-logos/apptio.png" alt="Apptio logo" width="152" height="80" draggable="false"/>

					<img src="/client-logos/outreach.png" alt="Outreach logo" width="152" height="80" draggable="false"/>

					<picture>
						<source srcset="/client-logos/the-salvation-army.webp">
						<img src="/client-logos/the-salvation-army.png" alt="The Salvation Army logo" width="72" height="80" draggable="false">
					</picture>

					<img src="/client-logos/spire-healthcare.png" alt="Spire Healthcare logo" width="152" height="80" draggable="false"/>

					<picture>
						<source srcset="/client-logos/xero.webp">
						<img src="/client-logos/xero.png" alt="Xero logo" width="80" height="80" draggable="false">
					</picture>
				</div>
			</div>
		</section>

		<div class="services_and_sectors scroll_margin_top reveal" id="scroll">
			<section class="featured services scroll_margin_top">
				<div class="ctnr">
					<div class="content">
						<a href="/services/" aria-label="View all services"><h3>Services</h3></a>
	
						<p set:html={SERVICES_SECTION_DESCRIPTION}></p>
						
						<a href="/services/" class="cta light" aria-label="View all services"><span></span> All services</a>
					</div>
	
					<picture>
						<source media="(min-width:850px)" srcset="/images/office02.webp">
						<source srcset="/images/office02-min.webp">
						<img src="/images/office02.jpg" alt="Clean office" width="414" height="300">
					</picture>
				</div>
			</section>
	
			<section class="featured sectors reveal">
				<div class="ctnr">
					<div class="content">
						<a href="/sectors/" aria-label="View all sectors"><h3>Sectors</h3></a>
	
						<p set:html={SECTORS_SECTION_DESCRIPTION}></p>

						<a href="/sectors/" class="cta light" aria-label="View all sectors"><span></span> All sectors</a>
					</div>
	
					<picture>
						<source media="(min-width:850px)" srcset="/images/office03.webp">
						<source srcset="/images/office03-min.webp">
						<img src="/images/office03.jpg" alt="Clean office" width="415" height="300">
					</picture>
				</div>
			</section>
		</div>

		<section class="text reveal">
			<h3>Daily Office Cleaning Services London</h3> 

			<p><strong>Office cleaning</strong> is now more important than ever due to the recent pandemic. We want your employees to feel at ease about coming into the workplace.</p>
			
			<p class="big"><strong>Our daily office cleaning services are provided 7 days a week</strong> – and take place inside or outside of office hours as you require. You can also choose to include <b>weekly</b>, <b>monthly</b> or <b>seasonal</b> tasks from cleaning glass partitions to clearing office kitchen fridges.</p>
			
			<p>We also understand that no two clients are the same, <b>we tailor our office cleaning contracts accordingly.</b></p>
			
			<p>Whether it’s a <a href="/sectors/corporate-office-buildings" aria-label="Learn more about corporate office building cleaning"><b>large office</b></a> in the heart of the City of London which requires a sizeable cleaning contract with many hours daily or a <a href="/sectors/small-offices" aria-label="Learn more about small offices cleaning"><b>smaller startup office</b></a> in <strong>Shoreditch</strong> which only needs attention for a few hours a week, <b>we create and deliver a cost-effective contract to suit you and your team.</b></p>
			
			<a href="/contact/" class="main cta" aria-label="Get a free quote">Get a Free Quote</a>
		</section>

		<section class="featured locations squares_bg reveal" id="locations">
			<div class="ctnr">
				<div class="content">
					<h3>Location</h3>

					<p set:html={LOCATIONS_SECTION_DESCRIPTION}></p>

					<a href="/locations/" class="cta light" aria-label="See our location"><span></span> Our Location</a>

					<p>You'll find us right at the heart of the city, ready to serve the vibrant London community. Our location:</p>

					<address><strong>London</strong>: {FULL_ADDRESS}</address>

					<div class="map reveal">
						<!-- <MapSwitch/> -->
	
						<div class="iframe_ctnr">
							<noscript>You need to enable JavaScript on your browser to see this content.</noscript>
	
							<iframe width="100%" height="100%" title="The Clean Network Locations map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d620.6199555189221!2d-0.10369063041918736!3d51.52275863801521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b51ade48153%3A0x3366ca220568fb14!2sSt%20John&#39;s%20Sq%2C%20London%2C%20UK!5e0!3m2!1sen!2sbr!4v1704919149041!5m2!1sen!2sbr"></iframe>
						</div>
					</div>

					<div class="contact_ctnr">
						<InfoBox />
					</div>
				</div>

				<picture>
					<source media="(min-width:850px)" srcset="/images/customer01.webp">
					<source srcset="/images/customer01-min.webp">
					<img src="/images/customer01.jpg" alt="Customer Photo" width="415" height="300">
				</picture>
			</div>
		</section>

		<section class="testimonials">
			<script>
				import "../scripts/tiny-slider.js"
				import "../styles/tiny-slider.css"
			</script>

			<!-- <h3>What our clients have been saying</h3> -->

			<div class="ctnr">
				<div class="slider">
					{
						testimonials.map((testimonials) => (
							<>
								<div class="box">
									<div class="ctnr">
										<div class="box_ctnr">
											<sup>What our clients have been saying...</sup>

											<div class="profile squares_bg">
												<img src={testimonials.data.avatar} alt={`${testimonials.data.name}'s avatar'`}/>

												<div class="flex">
													<p class="name">{testimonials.data.name}</p>

													<p class="description">{testimonials.data.description}</p>
												</div>
											</div>
										</div>
										
										<div class="content">

											<p class="heading">"{testimonials.data.heading}"</p>
											
											<blockquote>
												{testimonials.data.paragraph01 == "" ? null : (<p set:html={testimonials.data.paragraph01}></p>)}
												
												{testimonials.data.paragraph02 == "" ? null : (<p set:html={testimonials.data.paragraph02}></p>)}
												
												{testimonials.data.paragraph03 == "" ? null : (<p set:html={testimonials.data.paragraph03}></p>)}
											</blockquote>

											<div class="gradient"></div>
										</div>
									</div>
								</div>
							</>
						))
					}
				</div>
			</div>

			<Schema
				item={
				{
					"@context": "https://schema.org",
					"@type": "Review",
					"itemReviewed": {
					"@type": "LocalBusiness",
					"image": "/og/social-image.jpg",
					"name": "Clean Network",
					"telephone": "+4402034110275",
					"address" :{
						"@type": "PostalAddress",
						"streetAddress":` ${STREET}`,
						"addressLocality": "London",
						"postalCode": `${POSTAL_CODE}`,
						"addressCountry": "UK"
						}
					},
					"author": {
						"@type": "Organization",
						"name": "Clean Network"
					},
					"publisher": {
					"@type": "Organization",
					"name": "Clean Network"
					}
				}}
			/>
		</section>

		<section class="faq scroll_margin_top" id="faq">
			<div class="ctnr">
				<h3>Frequently Asked Questions</h3>

				<FAQ expanded="false" max="5"/>

				<a href="/FAQ/" class="check_all">Check the Full FAQ</a>
			</div>
		</section>

		<BlogStripe/>
	</main>
</Layout>

<script>
	const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);

	if(urlParams.get('redirected') === 'true') {
		const redirWarning = document.createElement('aside')
		redirWarning.classList.add('redir_warning')
		redirWarning.innerHTML = "<p><span>Page not found!</span> You have been redirected to the home page.</p><button type='button' aria-label='close warning'><?xml version='1.0' encoding='UTF-8'?><svg id='Camada_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.21 23.21'><defs><style>.cls-1{fill:none;stroke:#2f363c;stroke-miterlimit:10;stroke-width:5px;}</style></defs><line class='cls-1' x1='2.12' y1='2.12' x2='21.09' y2='21.09'/><line class='cls-1' x1='21.09' y1='2.12' x2='2.12' y2='21.09'/></svg></button>"

		document.body.appendChild(redirWarning)

		setTimeout(() => {
			redirWarning.classList.add('show')
		}, 300);

		document.querySelector('.redir_warning button').addEventListener('click', function() {
			redirWarning.classList.remove('show')
			clearTimeout(autoHideBt)

			setTimeout(() => {
				document.querySelector('.redir_warning').remove()
			}, 1400);
		})

		let autoHideBt = setTimeout(() => {
			redirWarning.classList.remove('show')

			setTimeout(() => {
				document.querySelector('.redir_warning').remove()
			}, 1400);
		}, 6000);
	}
</script>