---
import Layout from "../layouts/HomeLayout.astro";
// import Stripe from "../components/Stripe.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactSection from "../components/ContactSection.astro"

import { getCollection } from "astro:content";

const services = await getCollection("services");
const sectors = await getCollection("sectors");
---

<Layout title="The Clean Network - Commercial & Office Cleaning Services">
	<Header />
	<main>
		<section class="intro default_bg">
			<div class="ctnr">
				<div class="content">
					<h1>Commercial and Office Cleaning Services</h1>

					<h2>
						The proof is in our numbers. We clean over 500 offices
						each day with our office cleaning services. 95% of our
						clients choose to stay with us at the end of their
						contract.
					</h2>

					<div class="bt_ctnr flex">
						<div class="ctas flex">
							<a href="/services/" class="know_our_services">Know our Services</a>

							<a href="#contact" class="quote">Get a Quote</a>
						</div>

						<div class="flex column">
							<a href="#"><span>London:</span> 020 3411 0275</a>

							<a href="#"><span>Birmingham:</span> 0121 3927529</a
							>
						</div>
					</div>
				</div>

				<div class="showcase">
					<picture>
						<source srcset="/images/office01.webp">
						<img src="/images/office01.jpg" alt="The Clean Network logo">
					</picture>
				</div>
			</div>

			<div class="text_block">
				<div class="ctnr">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Nisi blanditiis quasi cum culpa, odit ipsam aliquid
						quibusdam temporibus! Cupiditate voluptatum maiores
						explicabo hic officia libero. Quam alias dolorem nostrum
						reprehenderit.
					</p>
				</div>
			</div>
		</section>

		<section class="clients">
			<div class="ctnr">
				<h3>Our clients include...</h3>

				<div class="content">
					<img src="client-logos/apptio.png" alt="Apptio logo" />
					<img src="client-logos/outreach.png" alt="Outreach logo" />
					<img
						src="client-logos/the-salvation-army.png"
						alt="The Salvation Army logo"
					/>
					<img
						src="client-logos/spire-healthcare.png"
						alt="Spire Healthcare logo"
					/>
					<img src="client-logos/xero.png" alt="Xero logo" />
				</div>
			</div>
		</section>

		<section class="services panel">
			<div class="ctnr">
				<div class="content">
					<h3>Services</h3>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum vel rerum eligendi sunt illum harum id, qui ullam.</p>

					<a href="/services/" class="cta"><span></span> Check all services</a>

					<hr>

					<div class="subsets">
						<div>
							<a href="/services/#indoor" class="heading indoor"
								>Indoor Cleaning <span class="icon"></span></a
							>

							{
								services.map((services) => (
									<>
										{services.data.type === "indoor" ? (
											<a
												href={`/services/${services.slug}/`}
											>
												{services.data.title}
											</a>
										) : null}
									</>
								))
							}
						</div>

						<hr />

						<div>
							<a href="/services/#external" class="heading outdoor"
								>External Cleaning <span class="icon"></span></a
							>

							{
								services.map((services) => (
									<>
										{services.data.type === "external" ? (
											<a
												href={`/services/${services.slug}/`}
											>
												{services.data.title}
											</a>
										) : null}
									</>
								))
							}
						</div>
					</div>
				</div>

				<div class="image">
					<picture>
						<source srcset="/images/office02.webp">
						<img src="/images/office02.jpg" alt="Office Photo">
					</picture>
				</div>
			</div>
		</section>

		<section class="sectors panel">
			<div class="ctnr">
				<div class="content">
					<h3>Sectors</h3>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum vel rerum eligendi sunt illum harum id, qui ullam.</p>

					<a href="/sectors/" class="cta"><span></span> Check all sectors</a>

					<hr>

					<div class="subsets">
						<div>
							{
								sectors.map((sectors) => (
									<>
										<a
											href={`/sectors/${sectors.slug}/`}
										>
											{sectors.data.title}
										</a>
									</>
								))
							}
						</div>
					</div>
				</div>

				<div class="image">
					<picture>
						<source srcset="/images/office03.webp">
						<img src="/images/office03.jpg" alt="Office Photo">
					</picture>
				</div>
			</div>
		</section>

		<section class="locations panel" id="locations">
			<div class="ctnr">
				<div class="content">
					<h3>Locations</h3>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque consequuntur autem natus, quod deleniti velit esse itaque odit quis expedita.</p>

					<a href="#" class="cta"><span></span> Check our Locations</a>
				</div>

				<div class="image">
					<picture>
						<source srcset="/images/customer01.webp">
						<img src="/images/customer01.jpg" alt="Customer Photo">
					</picture>
				</div>
			</div>
		</section>

		<section class="testimonials">
			<div class="ctnr">
				<div class="flex center">
					<h3>What our clients have been saying</h3>
				</div>

				<div class="slider">
					<div class="box">
						<img src="/client-testimonials/01.jpg" alt="">
					</div>
					<div class="box">
						<img src="/client-testimonials/02.jpg" alt="">
					</div>
					<div class="box">
						<img src="/client-testimonials/03.jpg" alt="">
					</div>
					<div class="box">
						<img src="/client-testimonials/04.jpg" alt="">
					</div>
				</div>

				<script>
					import "../scripts/tiny-slider.js"
					import "../styles/tiny-slider.css"
				</script>
			</div>
		</section>

		<!-- <section class="rates">
			<div class="ctnr">
				<h3>Service Rates</h3>

				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis ad sed quod delectus quasi optio, earum quidem explicabo?</p>

				<a href="#" class="cta">Simulate with our <b>Rate Calculator</b></a>
			</div>
		</section> -->

		<ContactSection />

		<section class="find_us panel">
			<div class="ctnr">
				<div class="content">
					<h3>Find us</h3>

					<p>We’re based in the City of London & Birmingham City Centre so if you’d like us to pop over and give you a quote contact us using our details below. You’re also more than welcome to drop by our office too of course.</p>

					<div class="flex column">
						<address><strong>London</strong>: 6-8 Knights Court, London, EC1M 4NH</address>
	
						<address><strong>Birmingham</strong>: 37 Regents Place, Birmingham, B3 1UG</address>
					</div>

					<hr>
					

					<div class="contact_box">
						<a href="#" class="email">
							<span class="icon"></span>
							office@cleannetwork.co.uk
						</a>
						
						<a href="#" class="tel">
							<span class="icon"></span>
							London: 020 3411 0275
						</a>
						
						<a href="#" class="tel">
							<span class="icon"></span>
							Birmingham: 0121 3927529
						</a>
			
						<hr>
			
						<div class="social">
							<a href="#" class="icon instagram" title="Instagram"></a>
			
							<a href="#" class="icon facebook" title="Facebook"></a>
			
							<a href="#" class="icon linkedin" title="LinkedIn"></a>
						</div>
					</div>
				</div>

				<div class="map">
					<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" loading="lazy" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=EC1M%204NH+(The%20Clean%20Network)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	main {
	}

	.intro > .ctnr {
		display: flex;
		flex-direction: column;
    	gap: clamp(2rem,8vw,7rem);
	}

	.intro > .ctnr .content {
		width: var(--mobile-width);
		margin: clamp(3rem, 10vw, 6rem) auto 0;
		display: flex;
		flex-direction: column;
		gap: clamp(1rem, 2vmin, 2.5rem);
	}

	.intro h1 {
		font-size: clamp(1rem, 9.5vmin, 6.2rem);
		font-weight: 700;
		line-height: 1.2;
	}

	.intro h2 {
		font-size: clamp(1rem, 3.9vmin, 2.2rem);
		font-weight: 600;
		line-height: 1.5;
	}

	.intro .bt_ctnr {
		flex-flow: row wrap;
    	gap: 1.6rem;
		align-items: center;
	}

	.intro .ctas {
		gap: 1.4rem;
		color: var(--light);
		font-weight: 500;
		font-size: clamp(1.3rem, 3.6vmin, 1.7rem);
		line-height: 1;
    	margin-top: 0.5rem;
	}

	.ctas a {
		border-radius: 0.4rem;
		padding: 1.3rem 1.9rem;
		border: 0.2rem solid var(--light);
    	box-shadow: inset 0 -1.2rem 1.5rem -1.5rem, 0 0.8rem 1rem -0.6rem var(--light-b);
		transition: filter 0.5s ease;
	}

	.ctas a:hover {
		filter:brightness(1.1);
		transition: filter 0.1s ease;
	}

	.intro .bt_ctnr .flex.column {
    	gap: 0.8rem;
		font-weight: 600;
		font-size: clamp(1.2rem, 3.5vmin, 1.4rem);
	}

	.intro .bt_ctnr .flex.column a {
		line-height: 1;
	}

	.intro .bt_ctnr .flex.column span {
		color: var(--primary-a);
		font-weight: 600;
	}

	.ctas .know_our_services {
		background-color: var(--primary-a);
	}

	.ctas .quote {
		background-color: var(--highlight);
	}

	.showcase {
    	clip-path: polygon(0% 9%,100% 0%,100% 100%,0% 100%);
	}

	.showcase img {
		height: clamp(30rem, 70vw, 60rem);
		width: 100%;
		object-fit: cover;
		object-position: center;
		display: flex;
	}

	.panel h3::after {
		content:'';
		width: 2.5rem;
		height: 3rem;
		display: inline-block;
		margin-left: 1rem;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.intro .text_block {
		background-color: var(--highlight);
		padding: clamp(3rem, 10vmin, 6rem) 0;
		color: var(--light);
    	font-size: clamp(1.5rem,4vmin,2.2rem);
	}

	.intro .text_block > .ctnr {
		width: var(--mobile-width);
		margin-inline: auto;
	}

	.intro .text_block p {
		text-align: center;
    	max-width: 100rem;
		margin-inline: auto;
		line-height: 1.6;
    	font-weight: 500;
	}

	section.clients {
	}

	.clients > .ctnr {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
    	gap: clamp(1rem,3vw,2.5rem);
		align-items: center;
		padding: clamp(3rem, 5vw, 3.5rem) 0 0;
	}

	.clients .content img {
    	height: clamp(8rem, 10vw, 9rem);
	}

	.clients h3 {
		font-size: clamp(2rem,6.5vw,2.8rem);
		font-weight: 600;
		color: var(--primary-a);
	}

	.clients .content {
		display: flex;
		flex-direction: row;
		gap: clamp(2rem, 9vw, 5rem);
		overflow: auto;
		padding: 0 calc((100% - var(--mobile-width)) / 2) clamp(2rem,4vw,3.5rem);
	}

	section.services {
		width: 100%;
		background-color: var(--primary-a);
	}

	section.sectors {
		width: 100%;
		background-color: var(--dark);
	}

	.services, .sectors {
		color:var(--light);
	}

	.services h3::after {
		background-image: url('/icons/services.svg');
	}

	.sectors h3::after {
		background-image: url('/icons/sectors-grey.svg');
	}

	.locations.panel .cta span:first-of-type {
		border-bottom: 0.4rem solid var(--dark);
		border-right: 0.4rem solid var(--dark);
	}

	.services .subsets .heading .icon {
		width: 1.5rem;
		height: 1.5rem;
		background-size: 50%;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-left: 0.5rem;
		background-color: var(--light);
		border-radius: 0.3rem;
	}

	.services .subsets .indoor .icon {
    	background-image: url(/icons/indoor.svg);
	}

	.services .subsets .outdoor .icon {
    	background-image: url(/icons/outdoor.svg);
	}

	section.locations {
		background-color:var(--highlight);
		color:var(--light)
	}

	.locations.panel .content {
    	padding: clamp(3rem,10vw,13rem) 0 clamp(3rem,12vw,13rem);
	}

	section.testimonials {
		background-color: var(--primary);
		color:var(--light);
		overflow: hidden;
    	padding: clamp(3rem,10vw,5rem) 0 clamp(3rem,12vw,5rem);
		position:relative;
	}

	.testimonials::before, .testimonials::after {
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		width: clamp(2rem,11vw,10rem);
		opacity: 0.6;
    	z-index: 1;
	}

	.testimonials::before {
		left: 0;
    	background-image: linear-gradient(90deg, var(--primary-b), transparent);
	}

	.testimonials::after {
		right: 0;
    	background-image: linear-gradient(-90deg, var(--primary-b), transparent);
	}

	.testimonials > .ctnr {
		max-width: 100%;
		margin-inline: auto;
	}

	.testimonials h3 {
		margin-inline: auto;
		font-size: clamp(2rem,7vw,3.6rem);
		text-align: center;
		font-weight: 500;
		background-color: var(--primary-b);
		width: fit-content;
    	padding: 0.4rem 1rem;
		margin-bottom: 2rem;
		max-width: 80vw;
	}

	.slider {
		display: block;
		gap:1rem;
		max-width: var(--mobile-width);
	}

	.testimonials .slider .box {
		box-sizing: border-box;
		color: var(--light);
		/* transition: opacity 1.5s ease; */
		margin-inline: auto;
	}

	.testimonials .slider img {
    	width: clamp(26rem, 80vw, 32rem);
		border-radius: 0.9rem;
		margin:0 1rem;
	}

	.slider .tns-controls {
		display: flex;
		justify-content: center;
	}

	.slider .tns-controls button {
		
	}

	section.rates {
    	padding: clamp(3rem,13vw,7rem) 0 clamp(3rem,13vw,8rem);
		background-image: url('/textures/dot-grid.jpg');
		background-size: 30rem;
	}

	.rates > .ctnr {
		width: var(--mobile-width);
		margin-inline: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1.4rem;
		align-items: center;
	}

	.rates h3 {
    	font-size: clamp(2rem,10vw,6rem);
		color: var(--highlight);
	}

	.rates p {
    	font-size: clamp(1.5rem,3.7vw,2.2rem);
		max-width: 75rem;
		line-height: 1.5;
		margin-inline: auto;
		font-weight: 500;
	}

	.rates .cta {
		padding: 1.2rem 1.8rem 1.2rem 1.5rem;
		background-color: var(--light);
		border: 0.2rem solid var(--light-d);
		font-size: clamp(1.5rem,4vmin,1.8rem);
		border-radius: 0.3rem;
		margin-top: 1rem;
		display: inline-flex;
		align-items: center;
		font-weight: 500;
		gap: 0.6rem;
	}

	.rates .cta::before {
		content:'';
		display: block;
		border-bottom: 0.4rem solid var(--highlight);
		border-right: 0.4rem solid var(--highlight);
		border-top: 0.4rem solid transparent;
		border-left: 0.4rem solid transparent;
		transform: rotate(-45deg);
		margin-right: 1rem;
	}

	.rates .cta b {
		color: var(--highlight);
	}

	section.find_us {
		background-color:var(--primary-a);
		color:var(--light);
	}

	.find_us > .ctnr {
		flex-direction: column;
	}

	.find_us address {
		font-size: clamp(1.3rem,3.2vmin,2rem);
		font-style: unset;
	}

	.find_us .flex.column {
		gap:1rem;
	}

	.find_us address strong {
		font-weight: 500;
	}

	.find_us .map {
		flex: 1;
		display: flex;
		align-items: center;
	}

	.find_us .map iframe {
		width: clamp(10rem,85vmin,55rem);
		height: clamp(10rem,85vmin,55rem);
		display: flex;
		margin: 0 auto 7rem;
		border-radius: 2rem;
		/* border: 0.2rem solid var(--primary); */
		background-color: var(--primary);
	}

	.find_us .content {

	}





	@media screen and (min-width: 850px) {
		.intro > .ctnr {
			flex-direction: row;
			width: calc(100% - (100% - var(--mobile-width)) / 2);
			margin-left: auto;
			gap: 0;
    		align-items: center;
		}

		.intro > .ctnr .content {
			margin: clamp(3rem,9vw,13rem) auto clamp(3rem,9vw,13rem) 0;
			width: unset;
			max-width: clamp(40rem, 46vw, 85rem);
		}

		.intro h1 {
			font-size: clamp(5rem, calc(5.5vw - 2.6rem), 7rem);
		}

		.intro h2 {
			font-size: clamp(1.8rem,1.8vw,2rem);
			max-width: clamp(10rem, 85%, 60rem);
		}

		.showcase {
			flex: 1;
			clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    		max-width: 150rem;
		}

		.showcase img {
			/* height: 100%; */
			/* max-height: 80vh; */
			display: flex;
		}

		.find_us .map iframe {
			margin:0 auto;
		}

		.find_us > .ctnr {
			flex-direction: row;
		}

		.panel.find_us .content {
			margin: unset;
    		max-width: clamp(40rem,33vw,95rem);
		}

	}
</style>
