---
import Layout from "../layouts/HomeLayout.astro";
// import MapSwitch from "../components/MapSwitch.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactSection from "../components/ContactSection.astro"
import ContactBox from "../components/ContactBox.astro";
import "../styles/button-ctnr.css";

import { Schema } from "astro-seo-schema"

import { getCollection } from "astro:content";

const services = await getCollection("services");
const sectors = await getCollection("sectors");
const testimonials = await getCollection("testimonials");
---

<Layout title="The Clean Network - Commercial & Office Cleaning Services" description="COMMERCIAL & OFFICE CLEANING SERVICES The proof is in our numbers. We clean over 500 offices each day with our office cleaning services. 95% of our clients choose to stay with us at the end of their contract. View our Services Request your Quote Rated 5 out of 5 on Google Confidence guaranteed with over">

	<Header />
	<main>
		<section class="intro default_bg">
			<div class="ctnr">
				<div class="content reveal">
					<h1>Commercial & Office Cleaning in London</h1>

					<h2>Welcome to <strong>The Clean Network</strong> - trusted by over 500 offices in London each day. Discover the difference our professional office cleaning services can make. <b>Why do 95% of our clients renew their contracts with us? <span class="highlight">Let us show you.</span></b></h2>

					<div class="bt_ctnr flex">
						<div class="ctas flex">
							<a href="/services/" class="know_our_services">Find out more</a>
					
							<a href="#contact" class="cta">Get a Quote</a>
						</div>
					
						<div class="flex column">
							<a href="tel:+44-020-3411-0275"><span>London:</span> 020 3411 0275</a>
					
							<!-- <a href="tel:+44-0121-3927529"><span>Birmingham:</span> 0121 3927529</a> -->
						</div>
					</div>
				</div>

				<div class="showcase reveal">
					<picture>
						<source media="(min-width:850px)" srcset="/images/office01.webp">
						<source srcset="/images/office01-min.webp">
						<img src="/images/office01.jpg" alt="The Clean Network logo" width="414" height="300">
					</picture>
				</div>
			</div>

			<div class="text_block reveal">
				<div class="ctnr">
					<p>We're more than a cleaning company. <b>We're your partners in creating a clean, healthy, and productive work environment.</b> Our professional team caters to various sectors in London, ensuring your specific needs are met with meticulous attention to detail, unmatched reliability, and high industry standards. <b>Experience the professionalism that keeps our clients coming back.</b></p>
				</div>
			</div>
		</section>

		<section class="clients reveal">
			<div class="ctnr">
				<h3>Our clients include...</h3>

				<div class="content">
					<img src="/client-logos/apptio.png" alt="Apptio logo" width="152" height="80"/>

					<img src="/client-logos/outreach.png" alt="Outreach logo" width="152" height="80"/>

					<picture>
						<source srcset="/client-logos/the-salvation-army.webp">
						<img src="/client-logos/the-salvation-army.png" alt="The Salvation Army logo" width="72" height="80">
					</picture>

					<img src="/client-logos/spire-healthcare.png" alt="Spire Healthcare logo" width="152" height="80"/>

					<picture>
						<source srcset="/client-logos/xero.webp">
						<img src="/client-logos/xero.png" alt="Xero logo" width="80" height="80">
					</picture>
				</div>
			</div>
		</section>

		<section class="services panel">
			<div class="ctnr">
				<div class="content reveal">
					<h3>Services</h3>

					<p>At The Clean Network, we offer a comprehensive range of services. From offices to commercial spaces, our team is equipped with the latest technology and training to deliver impeccable results.</p>

					<a href="/services/" class="cta"><span></span> All services</a>

					<hr>

					<div class="subsets">
						<div>
							<a href="/services/#indoor" class="heading indoor"
								>Indoor Cleaning <span class="icon"></span></a
							>

							{
								services.map((services) => (
									<>
										{services.data.type === "indoor" ? (
											<a
												href={`/services/${services.slug}/`}
											>
												{services.data.title}
											</a>
										) : null}
									</>
								))
							}
						</div>

						<hr />

						<div>
							<a href="/services/#external" class="heading outdoor"
								>External Cleaning <span class="icon"></span></a
							>

							{
								services.map((services) => (
									<>
										{services.data.type === "external" ? (
											<a
												href={`/services/${services.slug}/`}
											>
												{services.data.title}
											</a>
										) : null}
									</>
								))
							}
						</div>
					</div>
				</div>

				<div class="image reveal">
					<picture>
						<source media="(min-width:850px)" srcset="/images/office02.webp">
						<source srcset="/images/office02-min.webp">
						<img src="/images/office02.jpg" alt="Office Photo" width="414" height="300">
					</picture>
				</div>
			</div>
		</section>

		<section class="sectors panel">
			<div class="ctnr">
				<div class="content reveal">
					<h3>Sectors</h3>

					<p>We understand that each place has unique needs. That's why we specialise in providing tailored cleaning solutions to various sectors.</p>

					<a href="/sectors/" class="cta"><span></span> All sectors</a>

					<hr>

					<div class="subsets">
						<div>
							{
								sectors.map((sectors) => (
									<>
										<a
											href={`/sectors/${sectors.slug}/`}
										>
											{sectors.data.title}
										</a>
									</>
								))
							}
						</div>
					</div>
				</div>

				<div class="image reveal">
					<picture>
						<source media="(min-width:850px)" srcset="/images/office03.webp">
						<source srcset="/images/office03-min.webp">
						<img src="/images/office03.jpg" alt="Office Photo" width="415" height="300">
					</picture>
				</div>
			</div>
		</section>

		<section class="locations panel" id="locations">
			<div class="ctnr">
				<div class="content reveal">
					<h3>Locations</h3>

					<p>Centrally located in the City of London, we're just a call away from providing your space with the professional cleaning service it deserves. We’d be happy to come over and provide you with a quote. Or feel free to drop by our office too.</p>

					<a href="/locations/" class="cta"><span></span> Our Locations</a>
				</div>

				<div class="image reveal">
					<picture>
						<source media="(min-width:850px)" srcset="/images/customer01.webp">
						<source srcset="/images/customer01-min.webp">
						<img src="/images/customer01.jpg" alt="Customer Photo" width="415" height="300">
					</picture>
				</div>
			</div>
		</section>

		<section class="testimonials">
			<div class="ctnr">
				<div class="flex center">
					<h3>What our clients have been saying</h3>
				</div>

				<div class="quotes"></div>

				<script>
					import "../scripts/tiny-slider.js"
					import "../styles/tiny-slider.css"
				</script>

				<div class="slider">
					{
						testimonials.map((testimonials) => (
							<>
								<div class="box">
									<div class="ctnr">
										<div class="profile">
											<img src={testimonials.data.avatar} alt={`${testimonials.data.name}'s avatar'`}/>

											<div class="flex">
												<p class="name">{testimonials.data.name}</p>

												<p class="description">{testimonials.data.description}</p>
											</div>
										</div>
										
										<div class="content">
											<p class="heading">{testimonials.data.heading}</p>
											
											<blockquote>
												{testimonials.data.paragraph01 == "" ? null : (<p>{testimonials.data.paragraph01}</p>)}
												
												{testimonials.data.paragraph02 == "" ? null : (<p>{testimonials.data.paragraph02}</p>)}
												
												{testimonials.data.paragraph03 == "" ? null : (<p>{testimonials.data.paragraph03}</p>)}
											</blockquote>

											<div class="gradient"></div>
										</div>
									</div>
								</div>
							</>
						))
					}
				</div>
			</div>

			<Schema
				item={
					{
						"@context": "https://schema.org/",
						"@type": "Review",
						"itemReviewed": {
						"@type": "LocalBusiness",
						"image": "/og/social-image.jpg",
						"name": "Clean Network",
						"telephone": "+4402034110275",
						"address" :{
							"@type": "PostalAddress",
							"streetAddress": "123 William St",
							"addressLocality": "New York",
							"addressRegion": "NY",
							"postalCode": "10038",
							"addressCountry": "US"
						}
						},
						"reviewRating": {
						"@type": "Rating",
						"ratingValue": "4"
						},
						"name": "A good seafood place.",
						"author": {
						"@type": "Person",
						"name": "Bob Smith"
						},
						"publisher": {
						"@type": "Organization",
						"name": "Clean Network"
						}
				}}
			/>
		</section>

		<!-- <section class="rates">
			<div class="ctnr">
				<h3>Service Rates</h3>

				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis ad sed quod delectus quasi optio, earum quidem explicabo?</p>

				<a href="#" class="cta">Simulate with our <b>Rate Calculator</b></a>
			</div>
		</section> -->

		<ContactSection />

		<section class="find_us panel">
			<div class="ctnr">
				<div class="content reveal">
					<h3>Find us</h3>

					<p>You'll find us right at the heart of the city, ready to serve the vibrant London community. Our location:</p>

					<div class="flex column">
						<address><strong>London</strong>: 6-8 Knights Court, London, EC1M 4NH</address>
	
						<!-- <address><strong>Birmingham</strong>: 37 Regents Place, Birmingham, B3 1UG</address> -->
					</div>

					<hr>

					<ContactBox />
				</div>

				<div class="map reveal">
					<!-- <MapSwitch/> -->

					<div class="iframe_ctnr">
						<noscript>You need to enable JavaScript on your browser to see this content.</noscript>

						<iframe width="100%" height="100%" title="Clean Network Locations map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" loading="lazy" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=EC1M%204NH+(The%20Clean%20Network)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<Footer />
</Layout>

<style>
	main {
	}

	.intro > .ctnr {
		display: flex;
		flex-direction: column;
    	gap: clamp(2rem,8vw,7rem);
	}

	.intro > .ctnr .content {
		width: var(--base-width);
		margin: clamp(2rem, 10vw, 6rem) auto 0;
		display: flex;
		flex-direction: column;
		gap: clamp(1rem, 2vmin, 2.5rem);
	}

	.intro h1 {
		font-size: clamp(1rem, 9.5vmin, 6.2rem);
		font-weight: 700;
		line-height: 1.2;
	}

	.intro h2 {
		font-size: clamp(1rem, 3.9vmin, 2.2rem);
		font-weight: 500;
		line-height: 1.5;
	}

	.intro h2 .highlight {
		color: var(--highlight-a);
		padding: 0.2rem 0.4rem;
	}

	.showcase {
    	clip-path: polygon(0% 9%,100% 0%,100% 100%,0% 100%);
	}

	.showcase img {
		height: clamp(30rem,129vmin,60rem);
		max-height: 35vh;
		width: 100%;
		object-fit: cover;
		object-position: center;
		display: flex;
	}

	.panel.services, .panel.sectors {
    	width: clamp(9rem,95vw,275rem);
		margin-inline: auto;
		border-radius: 1.2rem;
    	margin-bottom: clamp(2rem, 4vw, 4rem);
    	border: 0.1rem solid rgb(191 191 216 / 30%);
	}

	.panel h3::after {
		content:'';
		width: 2.5rem;
		height: 3rem;
		display: inline-block;
		margin-left: 1rem;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.panel.services .image img, .panel.sectors .image img {
		border-radius: 1.2rem 1.2rem 0 0;
		-webkit-border-radius: 1.2rem 1.2rem 0 0;
		-moz-border-radius: 1.2rem 1.2rem 0 0;
		-ms-border-radius: 1.2rem 1.2rem 0 0;
		-o-border-radius: 1.2rem 1.2rem 0 0;
	}

	.panel .cta {
		font-size: clamp(1.3rem,5vmin,2.2rem);
		font-weight: 500;
		letter-spacing: 0.05rem;
		width: fit-content;
		text-underline-offset: 0.7rem;
		line-height: 1.3;
    	margin-top: 0.6rem;
	}

	.panel .cta:hover {
		text-decoration: underline 0.2rem rgb(102 118 135 / 30%);
	}


	.intro .text_block {
		background-color: var(--highlight);
		padding: clamp(3rem, 10vmin, 6rem) 0;
		color: var(--light);
    	font-size: clamp(1.5rem,4vmin,2.2rem);
    	background-image: linear-gradient(340deg, #ff9162, transparent 38%);
	}

	.text_block b, .text_block strong {
		font-weight: 500;
		background-color: var(--highlight-a);
	}

	.intro .text_block > .ctnr {
		width: var(--base-width);
		margin-inline: auto;
	}

	.intro .text_block p {
		text-align: center;
		max-width: 120rem;
		margin-inline: auto;
		line-height: 1.6;
		font-weight: 400;
	}

	section.clients {
    	margin-bottom: clamp(2rem,8vw,5rem);
		border-bottom: 0.2rem solid var(--light-a);
	}

	.clients > .ctnr {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
    	gap: clamp(1rem,3vw,2.5rem);
		align-items: center;
		padding: clamp(3rem, 5vw, 3.5rem) 0 0;
	}

	.clients h3 {
		font-size: clamp(2rem,6.5vw,2.8rem);
		font-weight: 600;
		color: var(--primary-a);
	}

	.clients .content {
		display: flex;
		flex-direction: row;
		gap: clamp(2rem, 9vw, 5rem);
		overflow: auto;
		padding: 0 calc((100% - var(--base-width)) / 2) clamp(2rem,4vw,3.5rem);
	}

	.clients .content img, .clients .content picture {
		height: clamp(8rem, 10vw, 9rem);
		min-width: fit-content;
	}

	section.services {
		/* width: 100%; */
		background-color: var(--light-d);
		color: var(--primary-a);
	}

	section.sectors {
		/* width: 100%; */
		background-color: var(--dark);
		color:var(--light);
	}

	.services h3::after {
		background-image: url('/icons/services.svg');
	}

	.services .content p {
    	font-weight: 500;
	}

	.sectors h3::after {
		background-image: url('/icons/sectors-grey.svg');
	}

	.locations.panel .cta span:first-of-type {
		border-bottom: 0.4rem solid var(--dark);
		border-right: 0.4rem solid var(--dark);
	}

	.services .subsets .heading {
    	color:var(--primary-a);
	}

	.services .subsets a:not(.heading) {
		color: var(--primary-a);
		font-weight: 500;
		background-color: var(--light);
    	border: 0.2rem solid var(--light);
	}

	.sectors .subsets a:not(.heading) {
		background-color: var(--dark-a);
    	border: 0.2rem solid var(--dark-a);
	}

	.services .content > hr, .services .subsets hr {
    	background-color: rgb(16 106 166 / 30%);
	}

	.services h3 {
    	font-weight: 600;
	}

	.sectors h3 {
    	font-weight: 500;
	}

	.sectors .subsets .heading {
		color:var(--light);
	}

	.services .subsets .heading .icon {
		width: 1.5rem;
		height: 1.5rem;
		background-size: 50%;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-left: 0.5rem;
		background-color: var(--light);
		border-radius: 0.3rem;
	}

	.services .subsets .indoor .icon {
    	background-image: url(/icons/indoor.svg);
	}

	.services .subsets .outdoor .icon {
    	background-image: url(/icons/outdoor.svg);
	}

	section.locations {
		background-color:var(--highlight);
		color:var(--light);
    	margin-top: 7rem;
	}

	.locations.panel .content {
    	padding: clamp(3rem,10vw,9rem) 0 clamp(3rem,12vw,9rem);
	}

	section.testimonials {
		background-color: var(--light);
		color: var(--dark-a);
		overflow: hidden;
    	padding: clamp(3rem,10vw,6rem) 0 clamp(3rem,8vw,6rem);
		position:relative;
	}

	.testimonials::before, .testimonials::after {
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		width: clamp(2rem,12vw, calc((100vw - var(--base-width)) / 2));
		opacity: 0.8;
    	z-index: 1;
	}

	.testimonials::before {
		left: 0;
    	background-image: linear-gradient(90deg, var(--light), transparent);
	}

	.testimonials::after {
		right: 0;
    	background-image: linear-gradient(-90deg, var(--light), transparent);
	}

	.testimonials > .ctnr {
		max-width: 100%;
		margin-inline: auto;
	}

	.testimonials h3 {
		margin-inline: auto;
		font-size: clamp(2rem,6.2vw,3.8rem);
		text-align: center;
		font-weight: 500;
		width: fit-content;
		padding: 0.4rem 1rem;
		margin-bottom: 3rem;
		max-width: 58vw;
		position: relative;
		z-index: 4;
		color: var(--highlight);
	}

	.slider {
		display: block;
		gap:1rem;
		max-width: var(--base-width);
	}

	.quotes {
		position: absolute;
		width: clamp(9rem,91vw,77rem);
		height: clamp(60%,121vw,81%);
		bottom: clamp(1rem, 10%, 7rem);
		left: 0;
		right: 0;
		margin-inline: auto;
		z-index: 2;
	}

	.quotes::after, .quotes::before {
		content: "";
		position: absolute;
		width: clamp(5rem,16vw,10rem);
		height: clamp(5rem,16vw,10rem);
		background-image: url(/icons/quote.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.quotes::before {
		left:0;
		top:0;
	}

	.quotes::after {
		right:0;
		bottom:0;
		transform: rotate(180deg);
	}

	.testimonials .box {
    	width: clamp(9rem, 95vw, 75rem);
		box-sizing: border-box;
		margin-inline: auto;
		line-height: 1.3;
	}

	.testimonials .box > .ctnr {
		margin-inline: clamp(2rem,5vw,10rem);
		border-radius: 2rem;
		padding: clamp(2rem,8vmin,4rem) clamp(2rem,6vmin,4rem) 1rem;
		background-color: var(--light-d);
		position:relative;
	}

	.testimonials .box > .ctnr::before {
		bottom: -1.3rem;
		right: -1.3rem;
		width: 11rem;
		height: 5rem;
		border-bottom: 0.4rem solid var(--primary);
		border-right: 0.4rem solid var(--primary);
		border-radius: 0 0 4rem 0;
	}

	.testimonials .profile {
		display: flex;
		flex-direction: revert;
		align-items: center;
		margin-bottom: 2rem;
		font-size: 2.3rem;
		gap: 1.5rem;
		/* justify-content: center; */
		position: relative;
		left: 0;
		z-index: 3;
	}

	.testimonials .name {
		font-size: 1em;
    	font-weight: 600;
    	color: var(--primary-a);
	}

	.testimonials .description {
    	font-size: 0.7em;
    	color: var(--grey);
	}

	.testimonials .profile img {
		width: clamp(7rem,9vw,9rem);
		height: clamp(7rem,9vw,9rem);
		border-radius: 50%;
		border: 0.3rem solid var(--light-a);
	}

	.testimonials .profile .flex {
    	flex-direction: column;
	}

	.testimonials .box .content {
		position: relative;
		max-height: clamp(10rem, 55vh, 50rem);
    	max-height: clamp(10rem, 55svh, 50rem);
		overflow-y: auto;
		display: block;
    	padding-right: clamp(1rem, 2vmin, 3rem);
	}

	.testimonials .box .content::-webkit-scrollbar {
		width:0.9rem;
	}

	.testimonials .box .content::-webkit-scrollbar-thumb {
		background-color: var(--light-a);
		border-radius: 1rem;
	}

	.testimonials .box .ctnr:hover .content::-webkit-scrollbar-thumb, .testimonials .box .content::-webkit-scrollbar-thumb:hover {
		background-color: var(--light-b);
	}

	.testimonials .box .gradient {
		position: sticky;
		bottom: -0.2rem;
		width: 100%;
		height: 3rem;
		background-image: linear-gradient(0deg,var(--light-d) 15%,transparent);
	}

	.testimonials q::before, .testimonials q::after {
		font-size: clamp(7rem,50vmin,25rem);
		line-height: 1;
		position: absolute;
		color: var(--light-a);
		z-index: 1;
	}

	.testimonials q::before {
		left: -5rem;
		transform: translateY(-5rem);
	}

	.testimonials q::after {
		right: 0;
    	transform: translateY(-1rem);
	}

	.testimonials .heading {
		font-size: clamp(1.8rem,4.8vmin,2.4rem);
		margin-bottom: 1rem;
		color: var(--primary-a);
		font-weight: 500;
		line-height: 1.4;
	}

	.testimonials .heading, .testimonials .description {
		position: relative;
		z-index: 3;
	}

	.testimonials blockquote {
		margin: unset;
		font-size: clamp(1.5rem,3.6vmin,1.7rem);
		color: var(--dark-a);
		display: flex;
		flex-direction: column;
		gap: 1rem;
		line-height: 1.5;
	}

	/* .testimonials .slider img {
    	width: clamp(26rem, 80vw, 32rem);
		border-radius: 0.9rem;
	} */

	.slider .tns-controls {
		display: flex;
		justify-content: center;
	}

	.slider .tns-controls button {
		
	}

	/* section.rates {
    	padding: clamp(3rem,13vw,7rem) 0 clamp(3rem,13vw,8rem);
		background-image: url('/textures/dot-grid.jpg');
		background-size: 30rem;
	}

	.rates > .ctnr {
		width: var(--base-width);
		margin-inline: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1.4rem;
		align-items: center;
	} */

	.rates h3 {
    	font-size: clamp(2rem,10vw,6rem);
		color: var(--highlight);
	}

	.rates p {
    	font-size: clamp(1.5rem,3.7vw,2.2rem);
		max-width: 75rem;
		line-height: 1.5;
		margin-inline: auto;
		font-weight: 500;
	}

	.rates .cta {
		padding: 1.2rem 1.8rem 1.2rem 1.5rem;
		background-color: var(--light);
		border: 0.2rem solid var(--light-d);
		font-size: clamp(1.5rem,4vmin,1.8rem);
		border-radius: 0.3rem;
		margin-top: 1rem;
		display: inline-flex;
		align-items: center;
		font-weight: 500;
		gap: 0.6rem;
	}

	.rates .cta::before {
		content:'';
		display: block;
		border-bottom: 0.4rem solid var(--highlight);
		border-right: 0.4rem solid var(--highlight);
		border-top: 0.4rem solid transparent;
		border-left: 0.4rem solid transparent;
		transform: rotate(-45deg);
		margin-right: 1rem;
	}

	.rates .cta b {
		color: var(--highlight);
	}

	section.find_us {
		background-color:var(--primary-a);
		color:var(--light);
	}

	.find_us > .ctnr {
		flex-direction: column;
	}

	.find_us address {
		font-size: clamp(1.3rem,3.2vmin,2rem);
		font-style: unset;
	}

	.find_us .flex.column {
		gap:1rem;
	}

	.find_us address strong {
		font-weight: 500;
	}

	.find_us .map {
		flex: 1;
		display: flex;
    	flex-direction: column;
		align-items: center;
	}

	.find_us .iframe_ctnr {
    	margin: 0 0 7rem;
		position: relative;
		display: flex;
		flex-direction: column;
    	align-items: center;
	}

	.find_us .content {

	}



	@media screen and (min-width: 850px) {
		.intro > .ctnr {
			flex-direction: row;
			width: calc(100% - (100% - var(--base-width)) / 2);
			margin-left: auto;
			gap: 0;
    		align-items: center;
		}

		.intro > .ctnr .content {
			margin: clamp(3rem,9vmin,9rem) auto clamp(3rem,9vmin,9rem) 0;
			width: unset;
			max-width: clamp(40rem, 46vw, 85rem);
		}

		.intro h1 {
			font-size: clamp(5rem, calc(5.5vw - 2.6rem), 7rem);
		}

		.intro h2 {
			font-size: clamp(1.8rem,1.8vw,2rem);
			max-width: clamp(10rem, 85%, 60rem);
		}

		.showcase {
			flex: 1;
			clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    		max-width: 150rem;
		}

		.showcase img {
    		max-height: unset;
			display: flex;
		}

		section.sectors {
    		margin: 0.6rem 0;
		}

		.locations .image {
			border-radius: 24rem 0 0 0;
    		overflow: hidden;
		}

		.testimonials::before, .testimonials::after {
			z-index: 3;
		}

		.testimonials .box {
			max-width: 62vw;
		}

		.find_us .map {
    		margin: 4rem 0;
		}

		.find_us .map iframe {
			margin:0 auto;
		}

		.find_us > .ctnr {
			flex-direction: row;
		}

		.panel.find_us .content {
			margin: unset;
    		max-width: clamp(40rem,33vw,95rem);
    		/* padding: clamp(3rem,10vmin,6rem) 0 clamp(3rem,12vmin,6rem); */
		}

		.panel.services .image img, .panel.sectors .image img {
			border-radius: 0 1.2rem 1.2rem 0;
			-webkit-border-radius: 0 1.2rem 1.2rem 0;
			-moz-border-radius: 0 1.2rem 1.2rem 0;
			-ms-border-radius: 0 1.2rem 1.2rem 0;
			-o-border-radius: 0 1.2rem 1.2rem 0;
		}

		.find_us .iframe_ctnr {
			margin-bottom: unset;
		}

	}
</style>
