---
export interface Props {
    title: string;
    description?: string;
    keywords?: string;
}

import "../styles/global.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, keywords } = Astro.props;

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS, OG_IMAGE, BRAND_NAME, GOV_REGISTRY, LEGAL_NAME } from "../consts";

interface ScrollRevealObject {
    reveal: (selector: string, options?: any) => void;
}

declare global {
  function ScrollReveal(): ScrollRevealObject;
}

import { Schema } from "astro-seo-schema";

console.log(Astro.url)
---

<script is:inline src="/scripts/scrollreveal.min.js"></script>

<script>
    ScrollReveal().reveal('.reveal', {
        distance: '1rem',
        origin: 'bottom',
        opacity: 0,
        duration:900,
        easing: 'ease',
    });

    ScrollReveal().reveal('.reveal_interval01', {
        distance: '1rem',
        origin: 'bottom',
        opacity: 0,
        duration:900,
        easing: 'ease',
        interval: 100,
    });

    ScrollReveal().reveal('.reveal_delay', {
        distance: '1rem',
        origin: 'bottom',
        opacity: 0,
        duration:900,
        easing: 'ease',
        delay:200,
    });

    ScrollReveal().reveal('.reveal_tag', {
        distance: '1rem',
        origin: 'bottom',
        opacity: 0,
        duration:900,
        easing: 'ease',
        interval: 50,
    });
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta name="keywords" content={keywords}>

<link rel="canonical" href={canonicalURL} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={SITE_DESCRIPTION} />
<meta property="og:image" content={OG_IMAGE} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={SITE_DESCRIPTION} />
<meta property="twitter:image" content={OG_IMAGE} />



<Schema
    item={{
        // WEBPAGE
        "@context": "https://schema.org",
        "@type":"WebPage",
        "name":`${SITE_TITLE}`,
        "url":`${Astro.url}`,
        "description":`${SITE_DESCRIPTION}`,
        "isPartOf":{
            // WEBSITE
            "@type":"WebSite",
            "name":`${BRAND_NAME}`,
            "@id":`${Astro.url}`,
            "url":`${Astro.url.origin}`,
                // ORGANIZATION
                "publisher":{
                "@type":"Organization",
                "name":`${BRAND_NAME}`,
				"image": "/og/social-image.jpg",
                "legalName":`${LEGAL_NAME}`,
                "url":`${Astro.url}`,
				"telephone": [
					"+4402034110275",
					"+4401213927529"
				],
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "6-8 Bonhill Street",
                    "addressRegion": "London",
					"addressLocality": "London",
					"postalCode": "EC2A 4BX",
					"addressCountry": "UK"
				},
                "sameAs":[
                    `${GOV_REGISTRY ? GOV_REGISTRY : ""}`
                ]
                }
            }
    }}
/>