---

import InfoBox from "./InfoBox.astro";

import { FOOTER_DESCRIPTION, STREET, POSTAL_CODE, TEL } from "../consts";

import { getCollection } from 'astro:content';

const locations = (await getCollection('locations')).sort((a, b) => {
    // Check if both items have an 'order' property
    if (a.data.order !== undefined && b.data.order !== undefined) {
        return a.data.order - b.data.order; // Sort by 'order' if both have it
    } else if (a.data.order !== undefined) {
        return -1; // 'a' has 'order', but 'b' doesn't, so 'a' comes first
    } else if (b.data.order !== undefined) {
        return 1; // 'b' has 'order', but 'a' doesn't, so 'b' comes first
    } else {
        // Both 'a' and 'b' don't have 'order', fallback to sorting by 'title'
        return a.data.addressTitle.localeCompare(b.data.addressTitle);
    }
});
---

<footer>
    <div class="ctnr">
        <div class="content">
            <a href="/" class="logo_anchor">
                <!-- <img src="/tcn-logo-default.svg" alt="The Clean Network logo" /> -->
                <picture>
                    <!-- <source media="(min-width:650px)" srcset="/tcn-logo-360.png"> -->
                    <source media="(min-width:850px)" srcset="/logo/tcn-logo-720.webp">
                    <source media="(min-width:300px)" srcset="/logo/tcn-logo-360.webp">
                    <img src="/logo/tcn-logo-360.png" alt="The Clean Network logo" width="207" height="78">
                </picture>
            </a>
            
            <p set:html={FOOTER_DESCRIPTION}></p>

            <p class="legal">Copyright © 2023 The Clean Network </p>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/services/">Services</a>
            <a href="/sectors/">Sectors</a>
            <a href="/blog/">Blog</a>
            <a href="/locations/">Location</a>
            <a href="/about/">About</a>
            <a href="/team/">Our Team</a>
            <a href="/FAQ/">FAQ</a>
            <a href="/contact/">Contact</a>
            <a href="/privacy-policy/">Privacy Policy</a>
            <a href="/jobs/">Work with us</a>
        </nav>

        <div class="locations_nav">
            <p class="title">Locations</p>

            <div class="list">
                {
                    locations.slice(0, 6).map((location) => (
                    <>
                    <a href={`/locations/${location.slug}`} aria-label={`Read more about ${location.data.addressTitle}`}>
                        {location.data.addressTitle}
                    </a>
                    </>
                    ))
                }
            </div>

            <a href="/locations/" class="sub_cta">Check All Locations</a>
        </div>

        <div>
            <InfoBox />

            <hr>

            <div class="nap_data">
                <p>The Clean Network</p>
                <p set:html={STREET}></p>
                <p>London {POSTAL_CODE}</p>
                <p>United Kingdom</p>
                <p set:html={TEL}></p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: var(--dark);
        color: var(--light);
        padding: clamp(4rem, 13vw, 7rem) 0;
        font-size: clamp(1rem,3.9vmin,1.5rem);
        line-height: 1.5;
    }

    footer > .ctnr {
        width: var(--base-width);
        margin-inline: auto;
        display: flex;
        flex-flow: row wrap;
        gap: clamp(3rem,10vmin,18rem) clamp(3rem,10vw,18rem);
    }

    footer .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
    }

    footer .logo_anchor {
        width: clamp(10rem, 50vw, 25rem);
        display: block;
    }

    footer .logo_anchor img {
        object-fit: contain;
    }

    footer .content p {
        max-width: 38rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        letter-spacing: 0.05rem;
    }

    footer .legal {
        font-style: italic;
        color: var(--light-b);
        font-weight: 400;
    }

    footer nav, .locations_nav .list {
        display: flex;
        flex-flow: row wrap;
        gap: 0.9rem 2rem;
        align-content: start;
        max-width: 35vmax;
    }

    footer nav a, .locations_nav .list a {
        display: flex;
        align-items: center;
        gap:1rem;
        font-weight: 300;
        letter-spacing: 0.06rem;
    }

    footer nav a::before, .locations_nav .list a::before {
        content:'';
        display: block;
        border-bottom: 0.5rem solid var(--grey);
        border-right: 0.5rem solid var(--grey);
        border-top: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        transform: rotate(-45deg);
        transition: border 0.4s ease;
    }

    footer nav a:hover::before, .locations_nav .list a:hover::before {
        border-bottom: 0.5rem solid var(--highlight);
        border-right: 0.5rem solid var(--highlight);
        transition: border 0s ease;
    }

    .nap_data {
        font-weight: 400;
        font-size: 0.9em;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        color: var(--grey);
    }

    hr {
        width: 2rem;
        margin: 2rem 0;
        height: 0.2rem;
        background-color: rgb(248 248 255 / 10%);
    }

    .locations_nav {

    }

    .locations_nav .title {
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--grey);
    }

    .locations_nav .list {
        margin-block: 0.9rem 1.8rem;
    }

    .locations_nav .list a {

    }

    .sub_cta {
        background-color: var(--dark-a);
        padding: 0.6rem 1rem;
        border-radius: 0.3rem;
        border: 0.1rem solid var(--dark-a);
    }

    .sub_cta:hover {
        background-color: var(--dark);
    }

    
	@media screen and (min-width: 850px) {

        footer nav, .locations_nav .list {
            flex-direction: column;
        }

        footer .content {
            max-width: 40vw;
        }

        footer .legal {
            margin-top: 2rem;
        }

    }
</style>
