---
import { CollectionEntry, getCollection } from "astro:content";
import SubpageLayout from "../../layouts/BaseLayout.astro";
import ContactSection from "../../components/ContactSection.astro"

export async function getStaticPaths() {
    const sectors = await getCollection("sectors");
    return sectors.map((sectors) => ({
        params: { slug: sectors.slug },
        props: sectors,
    }));
}
type Props = CollectionEntry<"sectors">;

const sectors = Astro.props;
const { Content } = await sectors.render();

import "../../styles/posts.css"

import { Schema } from "astro-seo-schema"
---

<SubpageLayout {...sectors.data}>
    <section class="intro">

        <a href={`/sectors/#${(sectors.data.title).toLowerCase().replace(/\s+/g, '-')}`} class="back">Other sectors</a>

        <div class="cover" style={`background-image: url(${sectors.data.image});`}></div>

        <!-- <img src={sectors.data.image} alt={`Photo of ${sectors.data.title} cleaning service`}> -->

        <!-- <hr> -->
    
    </section>

    <article>
        <h1>{sectors.data.title}</h1>

        <Content />

        <a href="/contact/" class="main cta" aria-label="Get a free quote for our cleaning sectors">Get a free quote</a>

        <a href={`/sectors/#${(sectors.data.title).toLowerCase().replace(/\s+/g, '-')}`} class="back">Other sectors</a>
    </article>

    <ContactSection />

    <Schema
        item={{
            "@context": "https://schema.org",
            "@type": "Article",
            headline: `${sectors.data.title} ${String(sectors.data.title).includes('Cleaning') ? " Service" : "Cleaning Service"}`,
            image: `${sectors.data.image}`,
            "author": [{
                "@type": "Organization",
                "name": "The Clean Network"
            }],
            "publisher": {
                "@type": "Organization",
                "name": "The Clean Network",
                "logo": {
                    "@type": "ImageObject",
                    "url": "/logo/tcn-logo-360.png"
                }
            }
        }}
    />
</SubpageLayout>