---
import { CollectionEntry, getCollection } from "astro:content";
type Props = CollectionEntry<"sectors">["data"];

const sectors = (await getCollection('sectors')).sort((a, b) => {
    // Check if both items have an 'order' property
    if (a.data.order !== undefined && b.data.order !== undefined) {
        return a.data.order - b.data.order; // Sort by 'order' if both have it
    } else if (a.data.order !== undefined) {
        return -1; // 'a' has 'order', but 'b' doesn't, so 'a' comes first
    } else if (b.data.order !== undefined) {
        return 1; // 'b' has 'order', but 'a' doesn't, so 'b' comes first
    } else {
        // Both 'a' and 'b' don't have 'order', fallback to sorting by 'title'
        return a.data.title.localeCompare(b.data.title);
    }
});

const currentURL = new URL(Astro.request.url)

import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import ContactSection from "../../components/ContactSection.astro"
import BodyGTM from "../../components/BodyGTM.astro";

import "../../styles/subpages.css"
import "../../styles/collections.css"

import { Schema } from "astro-seo-schema"

import { SECTORS_TITLE, SECTORS_DESCRIPTION } from "../../consts";
---

<html lang="en">
    <head>
        <BaseHead title={SECTORS_TITLE} description={SECTORS_DESCRIPTION} />
    </head>

    <body>
        <BodyGTM/>

        <Header />

        <main>
            <div class="ctnr">
                <div class="heading_ctnr default_bg">
                    <div class="content">
                        <h1>Commercial & Office Cleaning Services in London</h1>
    
                        <p><strong>The Clean Network</strong> is here for all your commercial and office cleaning needs in London. We take pride in our range of professional cleaning services, all <b>tailored to provide a clean, healthy, and productive work environment that leaves a lasting impression</b>.</p>
                    </div>
                </div>
                
                <div class="division" id="indoor">
                    <div class="flex">
                        {
                            sectors.map((sectors) => (
                                <>
                                <section class="panel reveal" id={(sectors.data.title).toLowerCase().replace(/\s+/g, '-')}>
                                        <div class="ctnr">
                                            <div class="content">
                                                <h3>
                                                    <a href={`/sectors/${sectors.slug}`} aria-label={`Read more about ${sectors.data.title}`}>
                                                        {sectors.data.title}
    
                                                        <span class="arrow">
                                                            <span></span>
                                                        </span>
                                                    </a>
                                                </h3>
    
                                                <p class="description">{sectors.data.description}</p>

                                                <a href="/contact/" class="main cta" aria-label="Get a free quote for our cleaning sectors">Get a free quote</a>
                                            </div>
                                            
                                            <a href={`/sectors/${sectors.slug}`} class="image" aria-label={`Read more about ${sectors.data.title}`}  title={`Read more about ${sectors.data.title}`}>
                                                <img src={sectors.data.image} loading="lazy" alt={`Photo of ${sectors.data.title} cleaning`}/>
                                            </a>
                                        </div>
                                    </section>
                                </>
                            ))
                        }
                    </div>
                </div>
            </div>
        </main>

        <ContactSection />

        <Footer />

        <Schema
            item={{
                "@context": "https://schema.org",
                "@type": "LocalBusiness",
                "name": "Clean Network | Sectors",
                "image": "/og/social-image.jpg",
                "@id": currentURL,
                "url": currentURL,
                "telephone": [
                    "+4402034110275"
                ],
                "address": {
					"@type": "PostalAddress",
					"streetAddress": "EC1M 4NH",
					"addressLocality": "London",
					"addressRegion": "GB",
					"addressCountry": "UK"
                }  
            }}
        />
    </body>
</html>
