---
import { type CollectionEntry, getCollection } from "astro:content";
type Props = CollectionEntry<"sectors">["data"];

const sectors = (await getCollection('sectors')).sort((a, b) => {
    // Check if both items have an 'order' property
    if (a.data.order !== undefined && b.data.order !== undefined) {
        return a.data.order - b.data.order; // Sort by 'order' if both have it
    } else if (a.data.order !== undefined) {
        return -1; // 'a' has 'order', but 'b' doesn't, so 'a' comes first
    } else if (b.data.order !== undefined) {
        return 1; // 'b' has 'order', but 'a' doesn't, so 'b' comes first
    } else {
        // Both 'a' and 'b' don't have 'order', fallback to sorting by 'title'
        return a.data.title.localeCompare(b.data.title);
    }
});

import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactSection from "../../components/ContactSection.astro"

import BlogStripe from "../../components/BlogStripe.astro";

import "../../styles/subpages.css"
import "../../styles/collections.css"

import { SITE_KEYWORDS, SECTORS_TITLE, SECTORS_DESCRIPTION, SECTORS_KEYWORDS, SECTORS_H1, SECTORS_INTRO_DESCRIPTION } from "../../consts";
---


<BaseLayout title={SECTORS_TITLE} description={SECTORS_DESCRIPTION} keywords={SECTORS_KEYWORDS ? SECTORS_KEYWORDS : SITE_KEYWORDS}>
    <main>
        <div class="ctnr">
            <div class="heading_ctnr squares_bg">
                <div class="content reveal">
                    <h1 set:html={SECTORS_H1}></h1>

                    <p set:html={SECTORS_INTRO_DESCRIPTION}></p>
                </div>
            </div>
            
            <div class="division" id="indoor">
                <div class="flex">
                    {
                        sectors.map((sectors) => (
                            <>
                            <section class="panel scroll_margin_top reveal" id={(sectors.data.title).toLowerCase().replace(/\s+/g, '-')}>
                                    <div class="ctnr">
                                        <div class="content">
                                            <h3>
                                                <a href={`/sectors/${sectors.slug}`} aria-label={`Read more about ${sectors.data.title}`}>
                                                    {sectors.data.title}

                                                    <span class="arrow">
                                                        <span></span>
                                                    </span>
                                                </a>
                                            </h3>

                                            <p set:html={sectors.data.description} class="description"></p>

                                            <a href="/contact/" class="main cta" aria-label="Get a free quote for our cleaning sectors">Get a free quote</a>
                                        </div>
                                        
                                        <a href={`/sectors/${sectors.slug}`} class="image" aria-label={`Read more about ${sectors.data.title}`}  title={`Read more about ${sectors.data.title}`}>
                                            <img src={sectors.data.image} loading="lazy" alt={`Photo of ${sectors.data.title} cleaning`} draggable="false"/>
                                        </a>
                                    </div>
                                </section>
                            </>
                        ))
                    }
                </div>
            </div>
        </div>
    </main>

    <ContactSection/>

    <BlogStripe/>
</BaseLayout>