---
import { CollectionEntry, getCollection } from "astro:content";
type Props = CollectionEntry<"sectors">["data"];
const sectors = await getCollection("sectors");

const { title, description } = Astro.props;

import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import ContactSection from "../../components/ContactSection.astro"

import "../../styles/subpages.css"
import "../../styles/collections.css"
---

<html lang="en">
    <head>
        <BaseHead title="Our Sectors · The Clean Network" description={description} />
    </head>

    <body>
        <Header />

        <main>
            <div class="ctnr">
                <div class="heading_ctnr default_bg">
                    <h1>Our Sectors</h1>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum vel rerum eligendi sunt illum harum id, qui ullam.</p>
                </div>
                
                <div class="division" id="indoor">
                    <div class="flex">
                        {
                            sectors.map((sectors) => (
                                <>
                                <section class="panel service_box">
                                        <div class="ctnr">
                                            <div class="content">
                                                <h3>
                                                    {sectors.data.title}
                                                </h3>
    
                                                <p class="description">{sectors.data.description}</p>
    
                                                <a href={`/sectors/${sectors.slug}`} class="cta" aria-label={`Read more about ${sectors.data.title}`}><span></span> About <span class="lowercase">{sectors.data.title} {String(sectors.data.title).includes('Cleaning') ? "" : "Cleaning"} Sector</span></a>

                                                <a href="/#contact" class="quote" aria-label="Get a free quote for our cleaning sectors">Get a free quote</a>
                                            </div>
                                            
                                            <div class="image">
                                                <img src={sectors.data.image} loading="lazy" alt={`Photo of ${sectors.data.title} cleaning sector`}/>
                                            </div>
                                        </div>
                                    </section>
                                    
                                </>
                            ))
                        }
                    </div>
                </div>
            </div>
        </main>

        <ContactSection />

        <Footer />
    </body>
</html>
