---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import '../../styles/subpages.css'
import '../../styles/locations.css'

import ContactSection from "../../components/ContactSection.astro"
import InfoBox from '../../components/InfoBox.astro';
import BackBt from '../../components/BackBt.astro';

import { LOCATIONS_TITLE, LOCATIONS_DESCRIPTION, LOCATIONS_KEYWORDS, LOCATIONS_H1, LOCATIONS_INTRO_DESCRIPTION } from "../../consts";

export async function getStaticPaths() {
    const location = await getCollection("locations");
    return location.map((location) => ({
        params: { slug: location.slug },
        props: location,
    }));
}

type Props = CollectionEntry<"locations">;

const location = Astro.props;

import BenefitsSection from "../../components/BenefitsSection.astro";
import LocationIcon from "../../components/svg/Location.astro"

---

<BaseLayout title={location.data.documentTitle} description={location.data.metaDescription} keywords={location.data.keywords} endContactSection="false">
    <main>
        <BackBt label="Back to Locations" url="../locations/"/>
        
        <div class="heading_ctnr squares_bg">
            <div class="content reveal">
                <address>
                    <LocationIcon/>
                    <span set:html={location.data.completeAddress}></span>
                </address>

                <h1 set:html={location.data.mainHeading}></h1>

                <p set:html={location.data.introText}></p>
            </div>
        </div>

        <div class="map">
            <noscript>You need to enable JavaScript on your browser to see this content.</noscript>
            
            <div class="iframe_ctnr" set:html={location.data.mapEmbed}></div>
        </div>

        <div class="bottom_info">
            <ul class="area_covered" set:html={location.data.areaCoveredBulletList.map(function(item) {
                return '<li>' + item + '</li>';
              })}></ul>
              
            <div class="contact_box_ctnr">
                <InfoBox />
            </div>
        </div>

        <section class="location_text">
            <div class="content" set:html={location.data.panelCopy}></div>
        </section>

        <BenefitsSection/>

        <div class="contact_ctnr">
            <ContactSection/>
        </div>
    </main>
</BaseLayout>