---
import { getCollection } from 'astro:content';

import BaseLayout from "../../layouts/BaseLayout.astro";

import '../../styles/subpages.css'
import '../../styles/locations.css'

import ContactSection from "../../components/ContactSection.astro"
import InfoBox from '../../components/InfoBox.astro';
import BenefitsSection from '../../components/BenefitsSection.astro';
import CTASection1 from '../../components/CTASection1.astro'

import { LOCATIONS_TITLE, LOCATIONS_DESCRIPTION, LOCATIONS_KEYWORDS, LOCATIONS_H1, LOCATIONS_INTRO_DESCRIPTION } from "../../consts";

const locations = (await getCollection('locations')).sort((a, b) => {
    // Check if both items have an 'order' property
    if (a.data.order !== undefined && b.data.order !== undefined) {
        return a.data.order - b.data.order; // Sort by 'order' if both have it
    } else if (a.data.order !== undefined) {
        return -1; // 'a' has 'order', but 'b' doesn't, so 'a' comes first
    } else if (b.data.order !== undefined) {
        return 1; // 'b' has 'order', but 'a' doesn't, so 'b' comes first
    } else {
        // Both 'a' and 'b' don't have 'order', fallback to sorting by 'title'
        return a.data.addressTitle.localeCompare(b.data.addressTitle);
    }
});
---

<BaseLayout title={LOCATIONS_TITLE} description={LOCATIONS_DESCRIPTION} keywords={LOCATIONS_KEYWORDS} endContactSection="false">
    <main>
        <div class="heading_ctnr squares_bg">
            <div class="content reveal">
                <h1 set:html={LOCATIONS_H1}></h1>

                <p set:html={LOCATIONS_INTRO_DESCRIPTION}></p>
            
                <ul class="locations_list">
                    {
                        locations.map((location) => (
                        <>
                        <li class="reveal_interval01">
                            <a href={`/locations/${location.slug}`} aria-label={`Read more about ${location.data.addressTitle}`}>
                                {location.data.addressTitle}
                            </a>
                        </li>
                        </>
                        ))
                    }
                </ul>
            </div>
        </div>

        <div class="general map">
            <noscript>You need to enable JavaScript on your browser to see this content.</noscript>

            <div class="contact_box_ctnr reveal">
                <InfoBox />
            </div>
            
            <div class="iframe_ctnr">
                <iframe width="100%" height="100%" title="The Clean Network Location map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/u/0/embed?mid=1SDs6anXFA77WaU50JTYDnjubQ8z2yho&ehbc=2E312F&noprof=1"></iframe>
            </div>
        </div>

        <BenefitsSection type="locations"/>

        <CTASection1/>

        <div class="contact_ctnr">
            <ContactSection/>
        </div>
    </main>
</BaseLayout>

<style>
    .map {
        /* height: 55vh;
        height: 55lvh;
        background-color: var(--light-d);
        border-top: 0.3rem solid var(--light);
        /* box-shadow: 0 -1rem 3rem -1rem var(--light-b); */
        /* background-image: url(/textures/dot-grid.jpg);
        background-image: image-set(url(/textures/dot-grid.jpg) , url(/textures/dot-grid.webp) );
        background-size: 40rem; */
    }

    .contact_box_ctnr {
        color: var(--light);
        background-color: rgb(47 54 60 / 90%);
        backdrop-filter: blur(0.3rem);
        position: absolute;
        top: clamp(2rem,9vmin,5rem);
        z-index: 3;
        right: clamp(2rem,6vmin,5rem);
        margin-inline: auto;
        width: fit-content;
        padding: 2rem 3rem;
        border-radius: 0.6rem;
        transform: scale(0.8);
        transform-origin: top right;
    }

    .iframe_ctnr {
        position: relative;
        z-index: 2;
        height: 100%;
    }

    .contact_ctnr {
        position: relative;
    }

    .component_ctnr {
        display: flex;
        transform: translateY(50%);
        position: relative;
        z-index: 3;
    }

    /* .heading_ctnr {
        padding-bottom: unset;
    } */

    @media screen and (min-width:850px) {
        .map {
            position: sticky;
            top:clamp(1rem,16vmin,7.5rem);
            border-top: unset;
        }

        .iframe_ctnr {
            border: 0.8rem solid var(--light);
            box-sizing: border-box;
        }

        .contact_box_ctnr {
            transform:unset;
        }
    }

</style>