---
import BaseLayout from "../../layouts/BaseLayout.astro";

import '../../styles/subpages.css'

import ContactSection from "../../components/ContactSection.astro"
import InfoBox from '../../components/InfoBox.astro';

import { LOCATIONS_TITLE, LOCATIONS_DESCRIPTION, LOCATIONS_KEYWORDS, LOCATIONS_H1, LOCATIONS_INTRO_DESCRIPTION } from "../../consts";
---


<BaseLayout title={LOCATIONS_TITLE} description={LOCATIONS_DESCRIPTION} keywords={LOCATIONS_KEYWORDS} endContactSection="false">
    <main>
        <div class="heading_ctnr squares_bg">
            <div class="content reveal">
                <h1 set:html={LOCATIONS_H1}></h1>

                <p set:html={LOCATIONS_INTRO_DESCRIPTION}></p>
                
                <!-- <div class="component_ctnr">
                    <MapSwitch/>
                </div> -->
            </div>
        </div>

        <div class="map">
            <noscript>You need to enable JavaScript on your browser to see this content.</noscript>

            <div class="contact_box_ctnr reveal">
                <InfoBox />
            </div>
            
            <div class="iframe_ctnr">
                <iframe width="100%" height="100%" title="The Clean Network Location map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.4890261846244!2d-0.08541909999999998!3d51.52258979999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761caefea868c7%3A0x2f921afb71cd76e2!2s6-8%20Bonhill%20St%2C%20London%20EC2A%204BX%2C%20UK!5e0!3m2!1sen!2sbr!4v1704802091222!5m2!1sen!2sbr"></iframe>
            </div>
        </div>

        <div class="contact_ctnr">
            <ContactSection/>
        </div>
    </main>
</BaseLayout>

<style>
    .map {
        height: 100vh;
        height: 100lvh;
        background-color: var(--light-d);
        position: relative;
        border-top: 0.3rem solid var(--light);
        /* box-shadow: 0 -1rem 3rem -1rem var(--light-b); */
        background-image: url(/textures/dot-grid.jpg);
        background-image: image-set(url(/textures/dot-grid.jpg) , url(/textures/dot-grid.webp) );
        background-size: 40rem;
    }

    .map::after {
        content: "Loading map...";
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 1;
        display: inline-block;
        color: var(--primary-a);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.2rem;
    }

    .contact_box_ctnr {
        color: var(--light);
        background-color: rgb(47 54 60 / 90%);
        backdrop-filter: blur(0.3rem);
        position: absolute;
        top: clamp(2rem,9vmin,5rem);
        z-index: 3;
        right: clamp(2rem,6vmin,5rem);
        margin-inline: auto;
        width: fit-content;
        padding: 2rem 3rem;
        border-radius: 0.6rem;
        transform: scale(0.8);
        transform-origin: top right;
    }

    .iframe_ctnr {
        position: relative;
        z-index: 2;
        height: 100%;
    }

    .contact_ctnr {
        box-shadow: 0 -10rem 12rem -7rem var(--light-b);
        position: relative;
    }

    .component_ctnr {
        display: flex;
        transform: translateY(50%);
        position: relative;
        z-index: 3;
    }

    /* .heading_ctnr {
        padding-bottom: unset;
    } */

    @media screen and (min-width:850px) {
        .map {
            position: sticky;
            top:clamp(1rem,16vmin,7.5rem);
            border-top: unset;
        }

        .iframe_ctnr {
            border: 0.8rem solid var(--light);
            box-sizing: border-box;
            height: calc(100% - var(--header-height));
        }

        .contact_box_ctnr {
            transform:unset;
        }
    }

</style>