---
import BaseLayout from '../../../layouts/BaseLayout.astro';

import FormattedDate from '../../../components/FormattedDate.astro';

import EndingBlogNav from '../../../components/EndingBlogNav.astro';

import { type CollectionEntry, getCollection } from 'astro:content';


const posts = (await getCollection('blog')).sort(
	(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

export function getStaticPaths() {
  return [
    {params: {category: 'cleaning'}},
    {params: {category: 'health-and-environment'}},
    {params: {category: 'efficiency'}},
  ];
}

const { category } = Astro.params;

import BackBt from '../../../components/BackBt.astro';

import '../../../styles/content.css'
import '../../../styles/blog.css'
import '../../../styles/blog-collection.css'

import { Schema } from "astro-seo-schema"
---

<BaseLayout title={category}>

	<BackBt url={`/blog/`} label="Blog"/>

	<section class="intro">
		<div class="ctnr">
			<div class="content reveal">
				<sup><a href="/blog/">Category</a></sup>

				<h1 class="category_heading">{category == 'cleaning' ? "Cleaning" : category == 'health-and-environment' ? "Health & Environment" : category == 'efficiency' ? "Efficiency" : null}</h1>

				<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore similique nisi culpa, voluptatum possimus veritatis corrupti.</h2>

				<a href="#posts" class="cta" aria-label="Check our posts">Check Posts</a>
			</div>

			<img src={posts.find(post => post.data.category.includes(category)).data.heroImage} class="reveal" alt={posts[0].data.description ? posts[0].data.description : "Blog hero image"}>
		</div>
	</section>

	<div class="intro_copy">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, <b>nascetur ridiculus mus</b>. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

		<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. <strong>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</strong> Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. <b>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</b> Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget</p>
	</div>

	<div class="category_posts_ctnr center_base_width">
		<ul class="posts scroll_margin_top" id="posts">
			{
				posts.map((post) => (
					<>
						{post.data.category.includes(category)  ? (
							<li id={(post.data.title).toLowerCase().replace(/\s+/g, '-')} class="scroll_margin_top">
								<div class="ctnr reveal">
									<div class="content">
										<div class="ctnr">
											<div class="over_heading">
												<div class="author">{post.data.authorImage ? (<img src={post.data.authorImage} alt={`${post.data.author} profile picture`}/>) : "by"} <cite>{post.data.author}</cite></div>

												<hr/>

												<FormattedDate date={post.data.pubDate} />

												<hr/>
									
												<p class="category_indicator" aria-label="Check same category posts">{category == 'cleaning' ? 'Cleaning' : category == 'health-and-environment' ? 'Health & Environment' : category == 'efficiency' ? "Efficiency" : null}</p>
											</div>
	
											<a href={`/blog/${post.slug}/`}>
												<h3 class="title">{post.data.title}</h3>
											</a>
	
											{post.data.description ? (
												<p class="description">{post.data.description}</p>
											) : null}
	
											<a href={`/blog/${post.slug}/`} class="read_more">Read more</a>
										</div>
									</div>
	
									<a class="hero" href={`/blog/${post.slug}/`}>
										<img src={post.data.heroImage} alt={post.data.description} loading="lazy"/>
									</a>
								</div>
							</li>
						) : null}
					</>
				))
			}
		</ul>
	</div>

	<EndingBlogNav category={category}/>

    <Schema
        item={{
			"@context": "https://schema.org",
			"@type": "Blog",
			"@id": "tcn-blog",
			"description": "The Clean Network, London's trusted partner in professional commercial and office cleaning. Reliable, high standards, tailored to your needs. See why 95% of our clients stay.",
			"name": "The Clean Network Blog"
		  }}
    />
</BaseLayout>


<style>
	.posts {
		margin-bottom: 5rem;
	}
</style>