---
import BaseLayout from '../../../layouts/BaseLayout.astro';

import FormattedDate from '../../../components/FormattedDate.astro';

import { type CollectionEntry, getCollection } from 'astro:content';

export function getStaticPaths() {
  return [
    {params: {category: 'cleaning'}},
    {params: {category: 'health-and-environment'}},
    {params: {category: 'efficiency'}},
  ];
}

const posts = await getCollection('blog')

const { category } = Astro.params;

import BackBt from '../../../components/BackBt.astro';

import '../../../styles/blog.css'
import '../../../styles/blog-collection.css'
import '../../../styles/blog-post.css'
---

<BaseLayout title={category}>

	<BackBt url={`/blog/`} label="Blog"/>

	<section class="intro">
		<div class="ctnr">
			<div class="content reveal">
				<sup><a href="/blog/">Blog category</a></sup>

				<h1 class="category_heading">{category == 'cleaning' ? "Cleaning" : category == 'health-and-environment' ? "Health & Environment" : category == 'efficiency' ? "Efficiency" : null}</h1>

				<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore similique nisi culpa, voluptatum possimus veritatis corrupti.</h2>

				<a href="#posts" class="cta" aria-label="Check our posts">Check Posts</a>
			</div>

			<img src={posts[0].data.heroImage} class="reveal" alt={posts[0].data.description ? posts[0].data.description : "Blog hero image"}>
		</div>
	</section>

	<div class="intro_copy">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, <b>nascetur ridiculus mus</b>. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

		<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. <strong>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</strong> Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. <b>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</b> Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget</p>
	</div>

	<ul class="posts center_base_width scroll_margin_top" id="posts">
		{
			posts.map((post) => (
				<>
					{post.data.category.includes(category)  ? (
						<li id={(post.data.title).toLowerCase().replace(/\s+/g, '-')} class="scroll_margin_top">
							<div class="ctnr reveal">
								<div class="content">
									<div class="ctnr">
										<div class="over_heading">
											<FormattedDate date={post.data.pubDate} />

											<hr/>

											<p class="category_indicator">{category == 'cleaning' ? 'Cleaning' : category == 'health-and-environment' ? 'Health & Environment' : category == 'efficiency' ? "Efficiency" : null}</p>
										</div>

										<a href={`/blog/${post.slug}/`}>
											<h3 class="title">{post.data.title}</h3>
										</a>

										{post.data.description ? (
											<p class="description">{post.data.description}</p>
										) : null}

										<a href={`/blog/${post.slug}/`} class="read_more">Read more</a>
									</div>
								</div>

								<a class="hero" href={`/blog/${post.slug}/`}>
									<img src={post.data.heroImage} alt={post.data.description} loading="lazy"/>
								</a>
							</div>
						</li>
					) : null}
				</>
			))
		}
	</ul>

	<a href="/blog/">Check All Posts</a>
</BaseLayout>


<style>
	.posts {
		margin-bottom: 10rem;
	}
</style>